@import './index.scss';
.main-content-add-child {
  --background: #ffece2;
  .footer-add-message {
    .btn-wapper {
      ion-button {
        height: 56px;
      }
    }
  }
  .director-add-new-message {
    --padding-top: 144px;
    .item-check {
      padding: 0 20px;
      margin-top: 40px;
    }
  }
  .close {
    position: absolute;
    right: 18px;
    top: 14px;
    z-index: 9;
    padding: 0;
    background: transparent;
    img {
      width: $sizing-tiny;
      height: $sizing-tiny;
    }
  }
  .back {
    position: absolute;
    left: 18px;
    top: 14px;
    z-index: 9;
    padding: 0;
    background: transparent;
    img {
      width: 44px;
      height: 45px;
    }
  }
  .row {
    margin-top: $spacing-popup-h;
  }
  .title {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: $line-height-large;
    text-align: center;
    color: $text-color;
  }

  .title-person {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-light;
    line-height: $line-height-small;
    text-align: center;
    margin-left: 25px;
    margin-top: 15px;
  }
  .form-person {
    width: $sizing-giant;
    padding: 0 25px;
    .margin-bottom {
      margin-bottom: 10px;
    }
    .margin-top {
      margin-top: 10px;
    }
    input {
      border: 1px solid #4a452a;
      box-sizing: border-box;
      height: 35px;
      --padding-start: 8px;
      &[type='text'],
      &[type='email'] {
        border: 1px solid #4a452a;
        height: $sizing-medium;
        width: 100%;
        margin-top: $spacing-14;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-size-light;
        line-height: $line-height-small;
        background: transparent;
        padding: 6px 5px;
      }
    }
    select {
      border: 1px solid #4a452a;
      height: $sizing-medium;
      width: 100%;
      margin-top: $spacing-14;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-light;
      line-height: $line-height-small;
      padding: 6px 5px;
    }
    .note {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-tiny;
      line-height: $line-height-15;
      margin-top: $spacing-medium;
    }
    .file-input {
      width: $sizing-b;
      height: $sizing-b;
      background: url(/images/file.png) no-repeat center/cover;
      margin-left: auto;
      margin-right: auto;
      margin-top: $spacing-14;
      position: relative;
      input[type='file'] {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        z-index: 99;
        cursor: pointer;
        height: auto;
        width: 100%;
      }
    }
    label {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-light;
      line-height: $line-height-light;
      margin-top: $spacing-14;
      display: block;
    }
  }
  .btn-wapper {
    margin-top: $spacing-75;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      height: 45px;
      width: 188px;
      --border-radius: 6px;
      --background: #ee5b5b;
      --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      --background-activated: #f34e4e;
    }
  }
  .message-area-input {
    width: $sizing-300;
    height: $sizing-150;
    margin: 0 auto;
    border: 1px solid #000000;
    background: transparent;
    display: block;
  }
  .deactive-wrapper {
    padding: 0 25px;
    .deactive-staff {
      margin: 100px 0px 135px;
      box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      text-align: center;
      padding: 9px 0px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-22;
      line-height: $line-height-26;
      cursor: pointer;
      color: #4a452a;
    }
  }
}

.main-content-add-message {
  --background: #ffece2;
  .close {
    position: absolute;
    right: 18px;
    top: 14px;
    z-index: 9;
    padding: 0;
    background: transparent;
    img {
      width: $sizing-tiny;
      height: $sizing-tiny;
    }
  }
  .row {
    margin-top: $spacing-popup-h;
  }
  .title {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-big;
    line-height: $line-height-large;
    text-align: center;
    color: #4a452a;
  }
  .btn-wapper {
    margin-top: $spacing-75;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      height: 45px;
      width: 188px;
      --border-radius: 6px;
      --background: #ee5b5b;
      --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      --background-activated: #f34e4e;
    }
  }
  .message-area-input {
    width: $sizing-300;
    height: $sizing-150;
    margin: 0 auto;
    border: 1px solid #000000;
    background: transparent;
    display: block;
  }
  .child-container {
    .child-wrapper {
      display: flex;
      flex-direction: row;
      max-width: $sizing-300;
      margin: 94px auto 0px;
      .child-element {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-light;
        line-height: $line-height-normal;
        text-align: center;
        margin-right: 25px;
        .child-img {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #4a452a;
          border-radius: 50%;
          width: $sizing-light;
          height: $sizing-light;

          img {
            width: $sizing-25;
            height: $sizing-25;
          }
        }
      }
    }
  }
  .hr-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: $sizing-300;
    margin: 0px auto 100px;
    .hr {
      height: 1px;
      background: #000000;
      width: 100%;
    }
    img {
      margin-left: 19px;
    }
  }
}

.report-container {
  --background: #ffece2;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  color: #4a452a;
  text-align: center;
  ion-grid {
    padding: 0;
  }
  .close {
    position: absolute;
    right: 18px;
    top: 14px;
    z-index: 9;
    padding: 0;
    background: transparent;
    img {
      width: $sizing-tiny;
      height: $sizing-tiny;
    }
  }
  .title {
    font-weight: bold;
    font-size: $font-size-huge;
    line-height: $line-height-huge;

    color: #4a452a;
    padding-left: $spacing-t;
    padding-right: $spacing-t;
  }
  .thead {
    font-size: $font-size-26;
    line-height: $line-height-normal;
    border: 1px solid #000000;
    margin-top: 30px;
  }
  .trow {
    align-items: center;
    justify-content: center;
  }
  .tbody {
    font-size: $font-size-30;
    line-height: $line-height-35;
    border-bottom: 1px solid #000000;
  }
}
.calendar-field {
  position: relative;
  .react-calendar {
    position: absolute;
    width: 100%;
  }
}

.subcribe-form {
  text-align: center;
  padding-bottom: 4px;
  h4 {
    font-size: 14px;
    line-height: 16px;
    color: #4a452a;
    font-weight: normal;
    margin: 4px 0px 0px;
  }
  input[type='text'] {
    border: 1px solid #4a452a;
    border-right: 0px;
    padding: 8px 7px;
    background: transparent;
    height: 37px;
    border-radius: 4px 0px 0px 4px;
    width: 300px;
  }
  button {
    background: #ee5b5b;
    border-radius: 0px 4px 4px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    height: 37px;
    padding: 0px 28px;
    border-radius: 0px 4px 4px 0px;
  }
}
