@import './index.scss';

* {
  outline: none;
}
ion-button {
  text-transform: inherit;
}
ion-checkbox {
  margin-right: 4px;
}
.control-panel {
  .sc-ion-buttons-md-h {
    max-width: 50px;
    width: 100%;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/images/bottom.png) right 15px center no-repeat;
  border-radius: 0px;
  color: $text-color !important;
}
a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.alert-image {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 5px;
  top: 8px;
}
.title-delete {
  padding: 0 20px;
}
.logo-header {
  width: $sizing-light;
  height: $sizing-small;
}
.check-box {
  display: block;
  position: relative;
  padding-left: $spacing-m;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: $spacing-2;
    left: 0;
    height: $sizing-14;
    width: $sizing-14;
    background-color: $background-color;
    border: 1px solid #4a452a;
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
    &:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input:checked ~ .checkmark {
    background-color: $btn-red;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}
.classes-header {
  ion-toolbar {
    --background: #c3f998;
    ion-buttons {
      position: relative;
    }
  }
  .button-wrapper {
    position: absolute;
    top: 34px;
    right: 28px;
    width: $sizing-200;
    background: $background-color;
    z-index: 100;
    padding: 11px 22px;
    .button {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-22;
      line-height: $line-height-26;
      color: $font-black;
      &:first-child {
        margin-bottom: 26px;
      }
    }
  }
  &.transparent {
    position: absolute;
    ion-toolbar {
      --background: transparent;
    }
  }
}

.footer-directorr {
  font-family: $font-roboto-normal;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-tiny;
  line-height: $line-height-15;
  text-align: center;
  ion-img {
    height: $sizing-light;
    display: block;
    margin: 0 auto;
  }
}
.add-new-tutores {
  background: $background-color;
  ion-img {
    width: 62px;
    height: 62px;
    margin: 0 auto;
  }
  button {
    background: #ee5b5b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $color-white;
    width: 188px;
    height: 56px;
    display: block;
    margin: 0 auto;
  }
}
.checkin-footer {
  background: $background-color;
  ion-img {
    width: 62px;
    height: 62px;
    margin: 0 auto;
  }
  button {
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $color-white;
    width: 95px;
    height: 45px;
    display: block;
    margin: 0 auto;
    &.active {
      background: #ee5b5b;
    }
  }
}

.header-activities {
  position: relative;
  .icon-logo {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
  }
  .icon-close {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 14px;
    right: 18px;
  }
}

.btn-options {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-content: center;
  ion-button {
    margin: 0 5px;
    width: $sizing-79;
    height: $sizing-s;
    --background: #ee5b5b;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    --border-radius: 4px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-13;
    line-height: $line-height-small;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    &.active {
      --background: #00d7a3;
    }
  }
}
ion-datetime {
  --padding-start: 0px;
}
.time {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .time-wapper {
    margin-top: 5px;
    width: 119px;
    border: 1px solid #4a452a;
    box-sizing: border-box;
    text-align: center;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 300;
    font-size: $font-sixe-small;
    line-height: $line-height-tiny;
    text-align: center;
    --padding: 0px !important;
  }
  .time-text {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-light;
    line-height: $line-height-small;
    text-align: center;
    color: $font-black;
  }
}

.popup-edit-class {
  text-align: right;
  --width: 300px;
  ion-grid {
    padding: 15px;
    h3 {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-light;
      line-height: $line-height-small;
      /* identical to box height */

      text-align: center;

      color: #4a452a;
      margin: 0;
      &.edit-message {
        font-size: 24px;
        line-height: 28px;
        font-weight: normal;
        margin-bottom: 30px;
      }
    }
    p {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-giant;
      line-height: $line-height-15;
      text-align: center;
      margin-bottom: 30px;
    }
    input[type='text'] {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-large;
      line-height: $line-height-light;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #4a452a;
      text-align: left;
      background: transparent;
      width: 100%;
    }
    .button {
      .text-btn {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-light;
        line-height: $line-height-small;
        color: #4A452A;
        &.text-right {
          margin-right: 35px;
        }
      }
    }
  }
}

.no-margin {
  margin: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.upload-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.parent-top {
  margin-top: 35px !important;
}
.row-top {
  ion-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
}
ion-popover {
  &.large {
    --width: 80%;
    padding: 15px;
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      ion-text {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-large;
        line-height: $line-height-light;
        padding: 5px;
      }
    }
  }
}

ion-toolbar {
  --background: #ffece2;
  --padding-top: 10px;
  ion-icon {
    color: black;
    font-size: $line-height-large;
  }
  .text-logo {
    font-family: $font-atma;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-huge;
    line-height: $line-height-giant;
    margin-left: 10px;
    color: #4a452a;
  }
  p {
    margin: 0;
  }
  .btn-success {
    width: $sizing-large;
    $sizing-tiny: 28px;
    background: $color-primary;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-light;
    line-height: $line-height-small;
    text-align: center;
    color: $color-white !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.login-home {
      width: 100px;
      height: 28px;
    }
  }
  .btn-success:active {
    background: #02e6ad;
  }

  ion-icon {
    color: black;
    font-size: $line-height-large;
  }
  ion-title {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: $font-black;
    text-align: center;
    padding: 0px;
    &.atma {
      font-family: $font-atma;
    }
  }
}
.header-ios {
  ion-toolbar {
    &:last-child {
      --border-width: 0px;
    }
  }
}

// custom pick time
.react-timekeeper {
  width: 100% !important  ;
  box-shadow: 0px 0px 0px !important;
  .react-timekeeper__clock-wrapper {
    background: #fff;

    .react-timekeeper__clock {
      background: #f3f3f3;
    }
  }
}

.popup {
  position: absolute;
  z-index: 999;
  left: $spacing-popup-h;
  right: $spacing-popup-h;
  bottom: $spacing-popup;
  display: flex;
  flex-direction: column;
  background: $background-color;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    -2px 0px 4px rgba(0, 0, 0, 0.25), -2px 0px 4px rgba(0, 0, 0, 0.25);
  .text-popup {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-light;
    line-height: $line-height-small;
    color: #000000;
  }
  .footer {
    margin-top: 50px;
    text-align: center;
    font-size: $font-size-light;
    line-height: $line-height-small;
  }
}

.opacity-0 {
  opacity: 0 !important;
}

ion-toolbar {
  margin: 0px;
  .header-staff-Lannister {
    padding: 0px;
    text-align: center;
    border: 1px solid #4a452a;
    width: 100%;
    height: 55px;
    background: url(/images/bottom.png) right 15px center no-repeat;
    font-family: $font-atma;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 58px;
    height: 100%;
    padding: 0px;
    cursor: pointer;
  }
}
.media-popup {
  background: #ffece2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 5px;
  .title {
    margin: 0px 0px 10px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-large;
    line-height: $line-height-light;
    text-align: center;
    color: $font-black;
  }
  .photo {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    .avatar {
      flex: 2;
      ion-img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .text {
      flex: 6;
      margin: 10px 0;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-light;
      line-height: 23px;
      color: $font-black;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    input[type='file'] {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      width: 100%;
    }
  }
}
.food-popover {
  .popover-content.sc-ion-popover-md {
    width: 80%;
  }
  .food-wrapper {
    padding: 52px 28px 22px;
    background: $background-color;
    text-align: center;
    .food-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .food-item {
        padding: 0 4px 15px;
        text-align: center;
        width: 33.33333%;
        span {
          display: block;
          background: rgba(196, 196, 196, 0.4);
          border: 2px solid rgba(196, 196, 196, 0.4);
          font-family: $font-roboto;
          font-style: normal;
          font-weight: normal;
          font-size: $font-size-light;
          line-height: $line-height-23;
          padding: 7px 0px;
          text-align: center;
          color: #4a452a;
          &.active {
            border: 2px solid #00d7a3;
          }
        }
      }
    }
    .food-button {
      background: $color-primary;
      border-radius: 20px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-22;
      line-height: $line-height-26;

      color: $color-white;
      width: $sizing-150;
      height: $sizing-medium;
      text-align: center;
      margin-top: 45px;
    }
  }
}

.confirm-container {
  --background: #ffece2;
  .confirm-content {
    position: relative;
    height: 100%;
    padding: 50px 20px;
    .overflay {
      background: rgba(196, 196, 196, 0.56);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .confirm-wrapper {
    position: fixed;
    bottom: 50px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    z-index: 999;
    justify-content: space-around;
    button {
      background: transparent;
      ion-img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
.bold {
  font-weight: bold !important;
}
.allClass {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-normal;
  line-height: $line-height-23;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4A452A;
}

.phone-popup {
  position: absolute;
  z-index: 10;
  background: $background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 183px;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: -70%;
  left: 10%;
  a {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    display: block;
    color: $text-color;
    text-decoration: none;
  }
}
.news-modal {
  position: relative;
  .container {
    padding-top: 50px;
  }
  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    --background: transparent;
    --box-shadow: 0px 0px 0px;
  }
}
ion-content {
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.photo-activities {
  width: 60px;
  margin: 0 auto;
  text-align: center;
  ion-img {
    width: 50%;
    margin: 0 auto;
  }
}
.top-right-menu {
  display: flex;
  flex-direction: column;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4A452A;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  ion-img {
    width: 35px;
    height: 35px;
    margin-bottom: 3px;
  }
}
.homepage {
  .social-icon {
    width: 20px;
    height: 20px;
  }
}
.bottom {
  background: #ffece2;
    bottom: 0px;
    padding-bottom: 25px;
    padding-top: 5px;
    width: 100%;
  textarea {
    width: $sizing-300;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #000000;
    background: transparent;
    display: block;
  }
  .btn-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-button {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-normal;
      line-height: $line-height-light;
      text-align: center;
      color: #ffffff;
      height: $sizing-light;
      width: $sizing-180;
      --border-radius: 6px;
      --background: #ee5b5b;
      --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      --background-activated: #f34e4e;
    }
  }
}

ion-text {
  color: #4A452A;
}

@media (min-width: 768px) {
  ion-toolbar {
    margin: 0px;
    .header-staff-Lannister {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
      max-width: 500px;
      margin: auto;
      display: block;
    }
  }
  .bottom {
    textarea {
      width: 100%;
      height: $sizing-35;
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
      width: $desktop-max-width;
    }
    .btn-wapper {
      ion-button {
        font-size: $desktop-button-font-size;
        line-height: $desktop-button-line-height;
        height: $desktop-button-height;
        width: $desktop-button-width;
        margin-top: 10px;
      }
    }
  }
}
