/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
  
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
  
    /** success **/
    --ion-color-success: #00D7A3;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: rgb(2, 230, 173);
    --ion-color-success-tint: rgb(3, 231, 174);
  
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
  
    /** danger **/
    --ion-color-danger: #EE5B5B;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: rgb(241, 88, 88);
    --ion-color-danger-tint: rgb(240, 80, 80);
  
    /** dark **/
    --ion-color-dark: #998C8C;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: rgb(122, 118, 118);
    --ion-color-dark-tint: rgb(134, 131, 131);
  
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
  
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    
    // variables
  
  }
  

@function get-vw($target) { 
    $vw-context: (414*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

:host {
  color: #4A452A;
}

$background-color: #ffece2;
$backgroud-form: #f29d9d;
$input-backgroud: #ffe4d6;
$backgroud-select-user: #c3f998;
$color-primary: #00d7a3;
$color-black: #000;
$color-white: #fff;
$color-grey: #324A5E;
$color-red: #EE5B5B;
$background-third: #C3F998;
$input-backgroud: #ffe4d6;
$btn-red: #ee5b5b;
$btn-red-active: #f34e4e;
$text-color: #4A452A;
$font-roboto-normal: 'Roboto', sans-serif;
$font-roboto: "Roboto Condensed", sans-serif;
$font-atma: "Atma", cursive;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
$font-black: #4a452a;

$sizing-giant: 100%;
$sizing-huge: 100vh;
$sizing-big: 100px;
$sizing-259: get-vw(259px);
$sizing-56: get-vw(56px);
$sizing-180: get-vw(180px);
$sizing-150: get-vw(150px);
$sizing-popup: get-vw(100px);
$sizing-35: get-vw(35px);
$sizing-large: get-vw(97px);
$sizing-79: get-vw(79px);
$sizing-60: get-vw(60px);
$sizing-normal: get-vw(50px);
$sizing-light: get-vw(44px);
$sizing-40: get-vw(40px);
$sizing-small: get-vw(37px);
$sizing-tiny: get-vw(28px);
$sizing-medium: get-vw(32px);
$sizing-b: get-vw(80px);
$sizing-83: get-vw(83px);
$sizing-s: get-vw(30px);
$sizing-25: get-vw(25px);
$sizing-160: get-vw(160px);
$sizing-300: get-vw(300px);
$sizing-200: get-vw(200px);
$sizing-234: get-vw(234px);
$sizing-329: get-vw(329px);
$sizing-14: get-vw(14px);
$sizing-20: get-vw(20px);
$sizing-113: get-vw(113px);
$sizing-120: get-vw(120px);
$sizing-70: get-vw(70px);
$sizing-62: get-vw(62px);
$sizing-10: get-vw(10px);
$sizing-83: get-vw(83px);

//font

$font-size-giant: get-vw(14px);
$font-size-huge: get-vw(36px);
$font-size-big: get-vw(32px);
$font-size-large: get-vw(24px);
$font-size-normal: get-vw(20px);
$font-size-light: get-vw(18px);
$font-sixe-small: get-vw(16px);
$font-size-26: get-vw(26px);
$font-sixe-s: get-vw(42px);
$font-size-22: get-vw(22px);
$font-size-13: get-vw(13px);
$font-size-30: get-vw(30px);
$font-size-tiny: get-vw(10px);
$font-size-08: get-vw(8px);

//line-height
$line-height-giant: get-vw(58px);
$line-height-huge: get-vw(42px);
$line-height-big: get-vw(39px);
$line-height-large: get-vw(37px);
$line-height-normal: get-vw(29px);
$line-height-light: get-vw(28px);
$line-height-small: get-vw(21px);
$line-height-tiny: get-vw(19px);
$line-height-26: get-vw(26px);
$line-height-15: get-vw(15px);
$line-height-35: get-vw(35px);
$line-height-23: get-vw(23px);
$line-height-33: get-vw(33px);
$line-height-12: get-vw(12px);

//border
$border-radius-giant: 100%;
$border-radius-very: 50px;
$border-radius-huge: 20px;
$border-radius-big: 8px;
$border-radius-medium: 12px;
$border-radius-large: 6px;
$border-radius-normal: 4px;
$border-radius-light: 2px;
$border-radius-little: 1px;
$border-radius-small: unset;
$border-radius-tiny: unset;

$spacing-tiny: get-vw(8px);
$spacing-m: get-vw(20px);
$spacing-t: get-vw(50px);
$spacing-medium: get-vw(10px);
$spacing-23: get-vw(23px);
$spacing-11: get-vw(11px);
$spacing-14: get-vw(14px);
$spacing-40: get-vw(40px);
$spacing-5: get-vw(5px);
$spacing-75: get-vw(75px);
$spacing-popup-h: get-vw(30px);
$spacing-popup: get-vw(60px);
$spacing-2: get-vw(2px);
$spacing-3: get-vw(3px);
$spacing-10: get-vw(10px);
$spacing-19: get-vw(19px);


// desktop
$input-height: 50px;
$input-font-size: 20px;
$input-line-height: 23px;

$desktop-title-font-size: 35px;
$desktop-title-line-height: 58px;

$desktop-para-font-size: 20px;
$desktop-para-line-height: 23px;

$desktop-button-width: 300px;
$desktop-button-height: 50px;
$desktop-button-font-size: 24px;
$desktop-button-line-height: 28px;

$desktop-small-font-size: 10px;
$desktop-small-line-height: 15px;

$checkbox-size: 14px;

$desktop-max-width: 500px;
$desktop-max-width-900: 900px;

$desktop-footer-img-width: 60px;