@import './index.scss';

.subcribe-button {
  margin-right: 5px;
}
.subcribe-form {
  &.mobile {
    padding: 8px 7px;
    background: #ffece2;
    display: block !important;
    input[type='text'] {
      border: 1px solid #4a452a;
      padding: 8px 7px;
      background: transparent;
      height: 37px;
      border-radius: 4px 0px 0px 4px;
      width: 100%;
      font-size: 12px;
    }
    button {
      background: #ee5b5b;
      border-radius: 0px 4px 4px 0px;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      height: 37px;
      padding: 0px 28px;
      border-radius: 0px 4px 4px 0px;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .subcribe-button {
    display: none;
  }

  .logo-header {
    width: 71px;
    height: 60px;
  }
  ion-header {
    ion-toolbar {
      padding: 0 15px;
      .text-logo {
        font-weight: 600;
        font-size: 36px;
        line-height: 58px;
      }
      ion-title {
        font-size: 36px;
        line-height: 58px;
        text-align: center;
      }
      .btn-success {
        width: $sizing-60;
        max-width: 120px;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .popup {
    padding: 20px;
    left: 200px;
    right: 200px;
    .text-popup {
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
    }
    .footer {
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
    }
  }
  .check-box {
    padding-left: 25px;
    .checkmark {
      height: $checkbox-size;
      width: $checkbox-size;
    }
  }
  .footer-directorr {
    font-size: $desktop-para-font-size;
    line-height: $desktop-para-line-height;
    ion-img {
      height: $desktop-footer-img-width;
    }
  }
  .popup-edit-class {
    ion-grid {
      h3 {
        font-size: 20px;
        line-height: 18px;
      }
      p {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
        margin-bottom: 30px;
      }
      input[type='text'] {
        font-size: $input-font-size;
        line-height: $input-line-height;
      }
      .button {
        .text-btn {
          font-size: $desktop-button-font-size;
          line-height: $desktop-button-line-height;
        }
      }
    }
  }
  .classes-header {
    .button-wrapper {
      width: 200px;
      .button {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
        &:first-child {
          margin-bottom: 26px;
        }
      }
    }
  }
  .main-content-add-child {
    .back {
      img {
        width: 36px;
        height: 37px;
      }
    }
    .director-add-new-message {
      --padding-top: 0px;
    }
    .title-person {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
    }
    .close {
      img {
        width: 20px;
        height: 20px;
      }
    }
    .title {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
    }
    .modal-wrapper {
      max-width: 768px;
      width: 100%;
      padding: 20px;
    }
    .btn-wapper {
      margin-top: 10px;
      ion-button {
        width: $desktop-button-width;
        height: $desktop-button-height;
        font-size: $desktop-button-font-size;
        line-height: $desktop-button-line-height;
      }
    }
    .row {
      margin-top: 20px;
    }
    .message-area-input {
      width: 100%;
      height: 300px;
      padding: 20px;
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
    }
    .form-person {
      width: $sizing-giant;
      input {
        height: 35px;
        &[type='text'],
        &[type='email'] {
          height: $input-height;
          margin-top: 15px;
          font-size: $input-font-size;
          line-height: $input-line-height;
        }
      }
      select {
        height: $input-height;
        margin-top: 15px;
        font-size: $input-font-size;
        line-height: $input-line-height;
      }
      .note {
        font-size: $desktop-small-font-size;
        line-height: $desktop-small-line-height;
        margin-top: 10px;
      }
      .file-input {
        width: 80px;
        height: 80px;
        margin-top: 15px;
      }
      label {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
        margin-top: 15px;
      }
    }
    .deactive-wrapper {
      .deactive-staff {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
      }
    }
  }
  .media-popup {
    .title {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
    }
    .photo {
      .text {
        font-size: 18px;
      }
    }
  }
  .time {
    .time-wapper {
      width: 119px;
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
      --padding: 0px;
    }
    .time-text {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
    }
  }
  .btn-options {
    ion-button {
      width: 100%;
      height: $desktop-button-height;
      font-size: $desktop-button-font-size;
      line-height: $desktop-button-line-height;
      &.active {
        --background: #00d7a3;
      }
    }
  }
  .food-popover {
    .popover-content.sc-ion-popover-md {
      width: 60%;
    }
    .food-wrapper {
      .food-container {
        .food-item {
          span {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
        }
      }
      .food-button {
        width: $desktop-button-width;
        height: $desktop-button-height;
        font-size: $desktop-button-font-size;
        line-height: $desktop-button-line-height;
      }
    }
  }
  .report-container {
    .close {
      img {
        width: 20px;
        height: 20px;
      }
    }
    .title {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
      padding-left: 50px;
      padding-right: 50px;
    }
    .thead {
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
    }
    .tbody {
      font-size: $desktop-para-font-size;
      line-height: $desktop-para-line-height;
    }
  }
  ion-popover {
    &.large {
      --width: auto;
      .actions {
        ion-text {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          padding: 5px 15px;
        }
      }
    }
  }
  .allClass {
    font-size: 28px;
    line-height: $desktop-title-line-height;
  }
}

@media (max-width: 768px) {
  .subcribe-form {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-content-add-child .form-person select {
    height: auto;
  }
}
