@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .main-content-complete {
    .row {
      margin-top: $spacing-popup-h;
    }
    .title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-big;
      line-height: $line-height-large;
      text-align: center;
    }
    .header {
      display: flex;
      justify-content: flex-end;
      ion-img {
        height: 20px;
        margin-right: 10px;
      }
    }
    .banner-img {
      display: flex;
      justify-content: center;
      align-items: center;
      .wapper-avatar {
        width: 160px;
        height: 160px;
        border-radius: $border-radius-giant;
        background: rgba(74, 69, 42, 0.3);
        ion-img {
          position: relative;
          top: 40px;
          height: 80px;
        }
      }
      .wapper-camera {
        width: $sizing-big;
        height: $sizing-big;
        border-radius: $border-radius-giant;
        background: rgba(74, 69, 42, 0.3);
        ion-img {
          position: relative;
          top: 30px;
          height: 35px;
        }
      }
      ion-text {
        position: absolute;
        bottom: 0;
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-huge;
        line-height: $line-height-giant;
        color: $font-black;
        p {
          margin: 0;
        }
      }
    }
    .title-person {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-light;
      line-height: $line-height-small;
      text-align: center;
      margin-left: 25px;
      margin-top: 15px;
    }
    .text-lable {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-light;
      line-height: $line-height-small;
      color: $font-black;
      margin-top: 10px;
      margin-left: -10px;
    }
    .form-person {
      width: $sizing-giant;
      padding: 0 25px;
      .margin-bottom {
        margin-bottom: 10px;
      }
      .margin-top {
        margin-top: 10px;
      }
      input {
        border: 1px solid #4a452a;
        box-sizing: border-box;
        height: 35px;
        --padding-start: 8px;
        &[type='text'],
        &[type='email'] {
          border: 1px solid #4a452a;
          height: $sizing-medium;
          width: 100%;
          margin-top: $spacing-14;
          font-family: $font-roboto;
          font-style: normal;
          font-weight: 300;
          font-size: $font-size-light;
          line-height: $line-height-small;
          background: transparent;
          padding: 6px 5px;
        }
      }
      .file-input {
        width: $sizing-b;
        height: $sizing-b;
        background: url(/images/file.png) no-repeat center/cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: $spacing-14;
        position: relative;
        input[type='file'] {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
          z-index: 99;
          cursor: pointer;
          height: auto;
          width: 100%;
        }
      }
      select {
        border: 1px solid #4a452a;
        box-sizing: border-box;
        height: 35px;
        border: 1px solid #4a452a;
        height: $sizing-medium;
        width: 100%;
        margin-top: $spacing-14;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-size-light;
        line-height: $line-height-small;
        background: transparent;
        padding: 6px 5px;
        border-radius: 0;
      }
      label {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-size-light;
        line-height: $line-height-light;
        margin-top: $spacing-14;
        display: block;
        color: #4a452a;
      }
      textarea {
        border: 0;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        background: transparent;
        display: block;
        width: 100%;
        background: url('/images/border.png');
        margin-top: $spacing-14;
        margin-bottom: $spacing-popup-h;
      }
      .border-bottom {
        ion-input {
          border: 0;
          border-bottom: 1px solid #4a452a;
          box-sizing: border-box;
          height: 35px;
          --padding-start: 8px;
        }
      }
    }
    .btn-wapper {
      margin-top: $spacing-75;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-button {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        height: 45px;
        width: 188px;
        --border-radius: 6px;
        --background: #ee5b5b;
        --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        --background-activated: #f34e4e;
      }
    }
  }
}

@media (min-width: 768px) {
  ion-content {
    .main-content-complete {
      max-width: $desktop-max-width-900;
      margin: 0 auto;
      .row {
        margin-top: 20px;
      }
      .title {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
      }
      .header {
        ion-img {
          height: 20px;
          margin-right: 10px;
        }
      }
      .banner-img {
        display: flex;
        justify-content: center;
        align-items: center;
        .wapper-avatar {
          width: 160px;
          height: 160px;
          border-radius: $border-radius-giant;
          background: rgba(74, 69, 42, 0.3);
          ion-img {
            position: relative;
            top: 40px;
            height: 80px;
          }
        }
        .wapper-camera {
          width: $sizing-big;
          height: $sizing-big;
          border-radius: $border-radius-giant;
          ion-img {
            position: relative;
            top: 30px;
            height: 35px;
          }
        }
        ion-text {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
      }
      .title-person {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
      }
      .text-lable {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
      }
      .form-person {
        width: $sizing-giant;
        input {
          &[type='text'],
          &[type='email'] {
            margin-top: 15px;
            height: $input-height;
            font-size: $input-font-size;
            line-height: $input-line-height;
          }
        }
        .file-input {
          width: 80px;
          height: 80px;
          margin-top: $spacing-14;
        }
        select {
          margin-top: 15px;
          height: $input-height;
          font-size: $input-font-size;
          line-height: $input-line-height;
        }
        label {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          margin-top: 15px;
        }
        textarea {
          font-size: $input-font-size;
          line-height: 30px;
          margin-top: 15px;
          margin-bottom: 30px;
        }
        .border-bottom {
          ion-input {
            height: 35px;
          }
        }
      }
      .btn-wapper {
        margin-top: 40px;
        ion-button {
          font-size: 24px;
          line-height: 28px;
          height: 45px;
          width: 188px;
        }
      }
    }
  }
}
