@import 'style/index.scss';

.vistagroup-wrapper {
  --background: #c3f998;
  .logoutButton {
    position: absolute;
    top: 18px;
    left: 18px;
    --background: transparent;
    --box-shadow: 0px 0px 0px;
    z-index: 100;
    &:hover {
      --background: transparent;
    }
  }
  .vistagroup {
    padding-top: 70px;
    .icon-back {
      margin-top: 15px;
    }
    .text-title {
      font-family: $font-atma;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-huge;
      line-height: $line-height-giant;
      text-align: center;
      color: $font-black;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .item-check {
      display: flex;
      align-items: center;
      align-content: center;
      margin-left: 36px;
      margin-bottom: 20px;
    }
    .text-selec {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      text-align: center;
      margin-left: 5px;
    }
    .wapper-item {
      margin: 10px 20px;
      .text-item {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-sixe-small;
        line-height: $line-height-small;
        text-align: center;
        color: $text-color;
        margin: 0;
      }
      .wapper-img {
        background: $font-black;
        border-radius: $border-radius-giant;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
      }
    }
  }
}
@media (min-width:768px) {
  .vistagroup-wrapper {
    .vistagroup {
      .icon-back {
      }
      .text-title {
        font-size: $font-size-huge;
        line-height: $line-height-giant;
      }
      .item-check {
      }
      .text-selec {
        font-size: $font-sixe-small;
        line-height: $line-height-tiny;
      }
      .wapper-item {
        .text-item {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          margin-bottom: 30px;
        }
        .wapper-img {
          width: 60px;
          height: 60px;
          display: flex;
        }
      }
    }
  }
}
