@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .main-content-avisos {
    .note-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto 20px;
      max-width: $sizing-300;
      .note-text {
        color: #4a452a;
        width: $sizing-200;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-light;
        line-height: $line-height-26;
        text-align: center;
        margin-right: 10px;
        padding: 5px 15px;
      }
      .note-time {
        border: 1px solid #4a452a;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-sixe-small;
        line-height: $line-height-tiny;
        width: $sizing-b;
        padding: 5px;
        text-align: center;
      }
    }
    .bottom {
      background: #ffece2;
        position: fixed;
        bottom: 0px;
        padding-bottom: 25px;
        padding-top: 5px;
        width: 100%;
      textarea {
        width: $sizing-300;
        height: $sizing-150;
        margin: 0 auto;
        border: 1px solid #000000;
        background: transparent;
        display: block;
      }
      .btn-wapper {
        display: flex;
        align-items: center;
        justify-content: center;
        ion-button {
          font-family: 'Roboto Condensed', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-normal;
          line-height: $line-height-light;
          text-align: center;
          color: #ffffff;
          height: $sizing-light;
          width: $sizing-180;
          --border-radius: 6px;
          --background: #ee5b5b;
          --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          --background-activated: #f34e4e;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  ion-content {
    .main-content-avisos {
      width: 100%;
      max-width: $desktop-max-width;
      margin: auto;
      padding-bottom: 250px;
      .note-wrapper {
        margin: 0 auto 20px;
        max-width: $sizing-300;
        .note-text {
          font-size: $desktop-para-font-size;
          line-height: $desktop-title-line-height;
          width: $sizing-popup;
          padding: 0px;
          margin-right: 17px;
        }
        .note-time {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          width: $sizing-normal;
        }
      }
      .bottom {
        background: #ffece2;
        position: fixed;
        bottom: 0px;
        padding-bottom: 25px;
        padding-top: 5px;
        width: 35%;
        textarea {
          width: 100%;
          height: $sizing-35;
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .btn-wapper {
          ion-button {
            font-size: $desktop-button-font-size;
            line-height: $desktop-button-line-height;
            height: $desktop-button-height;
            width: $desktop-button-width;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
