@import 'style/index.scss';
.otp-page-pin-container {
  --background: #ffece2;
  .otp-page-pin {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      .img-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        ion-img {
          width: $sizing-light;
          height: $sizing-small;
          float: none;
          margin-right: 13px;
        }
        .text-logo {
          font-family: $font-atma;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-huge;
          line-height: $line-height-giant;
        }
      }

      p {
        margin: 0;
      }
    }
    .from-otp-confirm {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: $spacing-75;
      padding-right: $spacing-75;
      display: flex;
      justify-content: space-between;
      input {
        width: $font-size-26;
        height: $font-size-26;
        border-radius: $border-radius-giant;
        background: $color-grey;
        text-align: center;
        float: right;
        border: 0;
        text-indent: -999999999px;
        &.active {
          background: $color-primary;
        }
      }
    }
    .form-otp {
      margin-top: 40%;
      .text-pin {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #4a452a;
        margin-bottom: 30px;
        margin-left: 60px;
      }
    }
    .text-err {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ff0000;
    }
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text-title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-big;
      line-height: $line-height-large;
      text-align: center;
      color: $font-black;
    }
    .text-sub {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      line-height: $line-height-light;
    }
    .from-otp {
      margin-top: 157px;
      margin-bottom: 72px;
      padding: 0 20px;
      ion-input {
        width: 26px;
        height: 26px;
        border-radius: $border-radius-giant;
        background: #324a5e;
        text-align: center;
        float: right;
        color: #324a5e;
      }
    }
    .text-footer {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-sixe-small;
      line-height: $line-height-small;
      color: $font-black;
    }
  }
}

@media (min-width: 768px) {
  .otp-page-pin-container {
    .otp-page-pin {
      .logo {
        .img-logo {
          ion-img {
            width: 71px;
            height: 60px;
          }
          .text-logo {
            font-size: 36px;
            line-height: 58px;
          }
        }
        p {
          margin: 0;
        }
      }
      .from-otp-confirm {
        padding: 0;
        max-width: $desktop-max-width;
        margin: 0 auto;
        width: 100%;
        input {
          width: 26px;
          height: 26px;
        }
      }
      .text-footer {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
      }
    }
  }
}
