@import 'style/index.scss';

@media (min-width: 768px) {
  .vistagroup-wrapper {
    .vistagroup {
      max-width: $desktop-max-width-900;
      margin: auto;
      .icon-back {
      }
      .ion-text-center {
        .text-title {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
      }

      .item-check {
        .text-selec {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
      }
      .wapper-item {
        .text-item {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .wapper-img {
        }
      }
    }
  }
}
