@import 'style/index.scss';

.header-ios ion-toolbar:last-child {
  --border-width: 0px;
}

.main-content-menu {
  --background: #ffece2;

  .wapper-item {
    margin-top: $spacing-t;
    margin-bottom: $spacing-popup-h;
    .left-menu {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-light;
      line-height: $line-height-small;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: $text-color;
      ion-img {
        width: $sizing-medium;
        height: $sizing-small;
      }
    }
    .right-menu {
      .upload-btn-wrapper {
        width: $sizing-150;
        height: $sizing-light;
        background: $btn-red;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: $border-radius-large;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        .btn {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-22;
          line-height: $line-height-26;
          text-align: center;
          color: $color-white;
          background: transparent;
          border: 0px;
          box-shadow: 0px 0px 0px;
        }
        input[type='file'] {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 9;
          opacity: 0;
          width: 100%;
        }
      }
    }
  }
  .note {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-light;
    line-height: $line-height-small;
  }
}
@media (min-width: 768px) {
  .main-content-menu {
    --background: #ffece2;
    padding: 3px;
    max-width: $desktop-max-width-900;
    margin: auto;
    .wapper-item {
      margin-top: $spacing-m;
      margin-bottom: 0px;
      padding: 0px;
      .left-menu {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
        ion-img {
          width: $sizing-25;
          height: $sizing-tiny;
        }
      }
      .right-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .upload-btn-wrapper {
          width: 317px;
          height: 87px;
          .btn {
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
          }
          input[type='file'] {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 9;
            opacity: 0;
            width: 100%;
          }
        }
      }
    }
    .note {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
      padding-top: 40px;
      color: #4A452A;
    }
  }
}
