@import 'style/index.scss';

.register-page {
  --background: #ffece2;
  .otp-page {
    .form-acceso {
      background: $backgroud-form;
      border-radius: 8px;
      width: $sizing-giant;
      height: $sizing-giant;
      padding: 20px;
      margin: $spacing-40;
      .title-form {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-big;
        line-height: $line-height-large;
        color: $font-black;
        p {
          margin: 0;
        }
      }
      .check-box {
        display: flex;
        margin-top: 20px;
        font-family: $font-roboto-normal;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-13;
        line-height: $line-height-small;
        color: $font-black;
        .check-box-block {
          margin-top: 5px;
          margin-right: 5px;
        }
      }
      .text-footer {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-normal;
        line-height: 23px;
        text-align: center;
        text-decoration-line: underline;
        color: $font-black;
        p {
          margin-top: 0;
        }
      }
      input {
        &[type='text'],
        &[type='password'] {
          background: $input-backgroud;
          border-radius: $border-radius-light;
          height: $sizing-35;
          color: #4a452a;
          --padding-start: 6px;
          font-size: $font-size-normal;
          line-height: $line-height-23;
          width: 100%;
          margin: 20px 0 0;
          border: 0;
          padding: 10px 6px;
        }
      }
      .btn-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        ion-button {
          font-family: $font-roboto;
          height: $sizing-light;
          width: $sizing-180;
          font-size: $font-size-large;
          line-height: $line-height-light;
          --border-radius: 6px;
          --background: #ee5b5b;
          --background-activated: #f34e4e;
          --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
      a.text {
        display: inline-block;
        color: #4a452a;
      }
    }
  }
}

@media (min-width: 768px) {
  .register-page {
    .otp-page {
      .form-acceso {
        max-width: $desktop-max-width;
        margin: 0 auto;
        .title-form {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          margin: 0px;
        }
        .check-box {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        input[type='text'],
        input[type='password'] {
          height: $input-height;
          font-size: $input-font-size;
          line-height: $input-line-height;
        }
        .btn-wapper {
          ion-button {
            font-size: $desktop-button-font-size;
            line-height: $desktop-button-line-height;
            max-width: $desktop-button-width;
            max-height: $desktop-button-height;
          }
        }
      }
    }
  }
}
