@import "style/index.scss";

.dashboard-staf {
  --background: #ffece2;
  .otp-page {
    .icon-power {
      font-size: 35px;
    }
    .text-title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      text-align: justify;
      color: $font-black;
      margin: 20px 20px;
      &.staff-controlpanel {
        margin: 64px 20px 40px;
      }
    }
    .tab-icon {
      width: 113px !important;
      height: 83px;
      border-radius: 12px 0px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(3deg);
      margin-left: 18px;
      margin-bottom: 15px;
    }
    .margin-right {
      margin-right: 18px;
    }
    .rotate15 {
      transform: rotate(-1.5deg);
    }
    .rotate6 {
      transform: rotate(6deg);
    }
    .tab-text {
      font-family: $font-atma;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-normal;
      line-height: 32px;
      text-align: center;
    }
    .border-one {
      border-radius: 0px 12px;
    }
    .search-box {
      .search-controlpanel {
        margin: 0px 20px 20px;
      }
      ion-col {
        display: flex;
        align-items: center;
        align-content: center;
        color: $font-black;
        .search-icon {
          font-size: 25px;
        }
      }
    }
    .wapper-item {
      margin-top: 51px;
      .text-item {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-large;
        line-height: $line-height-big;
        text-align: center;
        color: $text-color;
        margin: 0;
      }
      .wapper-img {
        background: $font-black;
        border-radius: $border-radius-giant;
        width: $sizing-60;
        height: $sizing-60;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
      }
    }
  }
  .logoutButton {
    position: absolute;
    top: 18px;
    left: 18px;
    --background: transparent;
    --box-shadow: 0px 0px 0px;
    z-index: 100;
    &:hover {
      --background: transparent;
    }
  }
}
@media (min-width: 768px) {
  .dashboard-staf {
    .otp-page {
      .icon-power {
        font-size: 35px;
      }
      .text-title {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;

        line-height: 33px;
        margin: 20px 20px;
      }
      .tab-icon {
        width: 100%;
        height: 150px;
  
        .tab-text {
          font-size: $font-size-13;
        }
      }
      .margin-right {
        margin-right: 18px;
      }
      .tab-text {
        font-size: $font-size-normal;
        line-height: 32px;
      }
      .border-one {
        border-radius: 0px 12px;
      }
      .search-box {
        margin: 20px 20px;
        font-size: $input-font-size;
        line-height: $input-line-height;
        height: $input-height;
        .search-icon {
          font-size: 25px;
        }
      }

      .wapper-item {
        margin-top: 51px;
        color:#4A452A;
        .text-item {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          margin: 0;
        }
        .wapper-img {
          width: 60px;
          height: 60px;
          display: flex;
        }
      }
    }
    .logoutButton {
      position: absolute;
      top: 18px;
      left: 18px;
      &:hover {
        --background: transparent;
      }
    }
  }
  .desktop-wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}
