@import "style/index.scss";

ion-content {
  --background: #ffece2;
  .main-content {
    .header {
      display: flex;
      justify-content: center;
      .icon-back {
        height: 20px;
        margin-right: 10px;
        margin-top: 10px;
        position: absolute;
        right: 0;
      }
    }
    .time {
      display: flex;
      justify-content: center;
      .time-pick {
        float: right;
        text-align: center;
        height: 30px;
        width: 119px;
        border: 1px solid #4a452a;
        box-sizing: border-box;
        margin-top: 10px;
        visibility: hidden;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-sixe-small;
        line-height: $line-height-tiny;
        text-align: center;
      }
    }
    .tab {
      margin-top: 10px;
      ion-text {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-light;
        line-height: $line-height-small;
        text-align: center;
        color: $font-black;
      }
      .tab-active {
        border-bottom: 1px solid;
      }
    }
    .list-items {
      .items {
        display: flex;
        align-items: center;
        .wapper-img {
          background: $font-black;
          border-radius: $sizing-giant;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
        }
        .item-group {
          display: flex;
          align-items: center;
          align-content: center;
        }
        .text-itmes {
          font-family: $font-atma;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-large;
          line-height: $line-height-big;
          text-align: center;
          margin-left: 10px;
        }
        .btn-submit {
          width: 89px;
          height: 34px;
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-light;
          line-height: $line-height-small;
          text-align: center;
          color: #ffffff;
          --background: $btn-red;
          --background-activated: $btn-red-active;
          --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          --border-radius: 6px;
        }
        .btn-active {
          width: 89px;
          height: 34px;
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-light;
          line-height: $line-height-small;
          text-align: center;
          color: #ffffff;
          --background: #00d7a3;
          --background-activated: #06e7af;
          --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          --border-radius: 6px;
        }
        .active {
          display: none;
          .wapper-btn {
            display: flex;
            align-items: center;
            ion-img {
              margin-right: 20px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}
