@import 'style/index.scss';

.homepage {
  --background: #ffece2;
  .main-contnet {
    padding: 0;
    .banner {
      position: relative;
      text-align: center;
      margin-bottom: 50px;
      background: url(/images/banner.png) no-repeat center / cover;
      height: $sizing-180;
      .text-banner {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-big;
        line-height: $line-height-large;
        color: $font-black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .box-introduce {
      margin: 15px;
      img {
        width: 35px;
        margin: 0 auto;
      }
      .text-utilities {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-normal;
        line-height: $line-height-23;
        text-align: justify;
        color: $font-black;
        display: flex;
        align-items: center;
      }
      .text-introduce,
      .text-introduce h2 {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-22;
        line-height: $line-height-26;
        text-align: justify;
        color: $font-black;
      }
      .text-icon {
        a {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-family: $font-roboto;
          font-style: normal;
          font-weight: normal;
          font-size: $font-size-13;
          line-height: $line-height-15;
          text-align: center;
          color: $text-color;
          text-decoration: none;
          img {
            height: $sizing-60;
          }
        }
      }
      .icon {
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        ion-img {
          height: 50%;
        }
        &.icon-left {
          padding: 0px;
        }
      }
    }
    .text-title,
    .text-title h1 {
      margin: 35px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-30;
      line-height: $line-height-35;
      text-align: center;
      color: $font-black;
    }
    .box-info {
      display: flex;
      flex-direction: column;
      margin: $sizing-small;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      line-height: $line-height-23;
      color: $font-black;
      p {
        margin: 0.5rem;
      }
    }
    .icon {
      display: flex;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      .icon-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        .text-icon {
          margin: 20px;
          font-family: $font-roboto;
          font-style: normal;
          font-weight: normal;
          font-size: $font-size-normal;
          line-height: $line-height-23;
          .one-text {
            display: inline;
          }
        }
      }
    }
    .box-option {
      ion-col {
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .premium {
        background: #00d7a3 !important;
      }
      .option-header {
        background: #ee5b5b;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-large;
        line-height: $line-height-light;
        color: #ffffff;
        text-align: center;
        p {
          margin: 10px;
        }
      }
      .icon {
        padding-left: 10px;
        ion-img {
          width: 50%;
        }
      }
      .option-item {
        margin: 10px 0;
        img {
          margin-right: 20px;
          width: $sizing-10;
        }
        .text-utilities {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }
      }
      .text-utilities {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-light;
        line-height: $line-height-small;
        color: $font-black;
      }
      .text-momney {
        width: 100%;
        .toggle-price {
          font-size: 16px;
          line-height: 19px;
          color: #4a452a;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          ion-toggle {
            --background: #f9948f;
            --background-checked: #f04141;

            --handle-background: #f04141;
            --handle-background-checked: #f04141;
          }
        }
        p {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-huge;
          line-height: $line-height-huge;
          color: #ee5b5b;
        }
        span {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-giant;
          line-height: $line-height-15;
          color: #ee5b5b;
        }
      }
      .text-momney-pernimun {
        width: 100%;
        p {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-huge;
          line-height: $line-height-huge;
          color: #00d7a3;
        }
        span {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-giant;
          line-height: $line-height-15;
          color: #00d7a3;
        }
      }
      .btn-submit {
        justify-content: center;
        margin-bottom: 10px;
        ion-button {
          --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          --border-radius: 6px;
        }
      }
      .btn-bottom {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .button-buy {
          width: $sizing-180;
          height: $sizing-normal;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-giant;
          line-height: $line-height-23;
        }
      }
    }
    .text-bottom {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      line-height: $line-height-23;
      color: $font-black;
    }
    .btn-sned {
      padding: 40px 0px;
      justify-content: center;
      a {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-large;
        line-height: $line-height-light;
        text-align: center;
        color: #ffffff;
        width: $sizing-259;
        height: $sizing-56;
        text-decoration: none;
        justify-content: center;
        background: $btn-red;
      }
    }
    .footer-homepage {
      background: $color-red;
      ion-col {
        .container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 5px 10px;
          a {
            margin-left: 15px;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 13px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .homepage {
    .main-contnet {
      .container {
        max-width: 1200px;
        margin: 0 auto;
      }
      .banner {
        height: $sizing-normal;
        .text-banner {
          font-size: 36px;
          line-height: 58px;
        }
      }
      .box-introduce {
        img {
          height: 60px;
          width: auto;
        }
        .text-utilities {
          font-size: 20px;
          line-height: 23px;
        }
        .text-introduce,
        .text-introduce h2 {
          font-size: 22px;
          line-height: 26px;
          max-width: 100% !important;
          width: 100% !important;
          flex: 100% !important;
        }
        .text-icon {
          a {
            font-size: 13px;
            line-height: 15px;
            img {
              height: 70px;
            }
          }
          &.desktop-fixed-first {
            position: fixed;
            right: 15px;
            top: 30%;
            width: auto !important;
            z-index: 999;
          }
          &.desktop-fixed-second {
            position: fixed;
            right: 20px;
            top: 50%;
            width: auto !important;
            z-index: 999;
          }
        }
      }
      .text-title,
      .text-title h1 {
        font-size: 30px;
        line-height: 35px;
      }
      .icon {
        display: flex;

        &.styles1 {
          display: flex;
          justify-content: flex-start;
          align-content: flex-start;
        }
        &.styles2 {
          display: flex;
          justify-content: flex-end;
          align-content: flex-end;
        }
        &.styles3 {
          display: flex;
          justify-content: flex-start;
          align-content: flex-start;
          .icon-wrapper {
            margin-left: 10%;
          }
        }
        .icon-wrapper {
          display: flex;
          flex-direction: row;
          width: 70%;
          padding-top: 20px;
          padding-bottom: 20px;
          .icon-1 {
            font-size: inherit;
            display: block;
            margin-right: 20px;
            flex: 1;
          }
          .text-icon {
            margin-left: 100px;
            font-size: 18px;
            line-height: 21px;
            margin: 10px 0px;
            flex: 9;
            .one-text {
              display: none;
            }
          }
        }
      }
      .text-title,
      .text-title h1 {
        margin: 25px;
        font-size: 30px;
        line-height: 35px;
      }
      .box-option {
        .option-header {
          font-size: 24px;
          line-height: 28px;
        }
        .option-item {
          img {
            margin-right: 20px;
            width: 16px;
          }
          .text-utilities {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 18px;
            line-height: 21px;
          }
        }
        .btn-bottom {
          .text-momney p,
          .text-momney-pernimun p {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            line-height: 42px;
            span {
              font-size: 14px;
              line-height: 16px;
              margin-left: 10px;
            }
          }
          .button-buy {
            width: $sizing-150;
            height: $sizing-25;
            max-width: 300px;
            max-height: 50px;
            font-size: 20px;
            line-height: 23px;
          }
        }
      }
      .text-bottom {
        font-size: 20px;
        line-height: 23px;
      }
      .btn-sned {
        padding: 30px 0px;
        a {
          font-size: 24px;
          line-height: 28px;
          width: $sizing-popup;
          height: $sizing-20;
          max-width: 400px;
          max-height: 56px;
        }
      }
      .footer-homepage {
        background: $color-red;
        ion-col {
          .container {
            padding: 18px 20px;
            a {
              margin-left: 30px;
              font-size: 20px;
              line-height: 23px;
            }
          }
        }
      }
    }
    .social-icon {
      width: 20px;
      height: 20px;
    }
  }
}
