@import 'style/index.scss';

.content-family-Mensajes {
  --background: #ffece2;
  .centent {
    margin-top: $spacing-40;
    .row-content {
      display: flex;
      flex-direction: row;
      border-top: $border-radius-little solid #4a452a;
      .icon {
        width: $sizing-60;
        height: $sizing-60;
        margin-top: $spacing-11;
        margin-right: $spacing-11;
      }
      .text1 {
        display: flex;
        flex-direction: left;
        justify-content: space-between;
        color: #4a452a;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-normal;
        line-height: $line-height-23;
      }
      .text2 {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-light;
        line-height: $line-height-small;
        color: #4a452a;
        margin-top: $spacing-tiny;
      }
      .text2-phu {
        font-family: $font-roboto;
        font-style: normal;
        font-size: $font-size-light;
        line-height: $line-height-small;
        color: #4a452a;
        margin-top: $spacing-tiny;
      }
    }
  }
}
@media (min-width: 768px) {
  .content-family-Mensajes {
    .centent {
      margin-top: 40px;
      width: 100%;
      max-width: $desktop-max-width-900;
      margin: auto;
      margin-top: $spacing-m;
      .row-content {
        .icon {
          margin: 10px 0px 0px;
          width: 70px;
          height: 70px;
        }
        .text1 {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
        .text2 {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          margin-top: $spacing-3;
        }
        .text2-phu {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          margin-top: $spacing-3;
        }
      }
    }
  }
}
