@import 'style/index.scss';

.main-page-acceso {
  --background: #ffece2;
  .otp-page {
    .logo {
      .img-logo {
        ion-img {
          float: left;
          margin-right: $spacing-14;
        }
      }
      .text-logo {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-huge;
        line-height: $line-height-giant;
        color: $color-black;
      }
      p {
        margin: 0;
      }
    }
    .wapper-mess {
      margin-top: 10px;
      .text-err {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ff0000;
        margin: 0;
      }
    }

    .form-acceso {
      background: $backgroud-form;
      border-radius: $border-radius-big;
      width: $sizing-329;
      padding: 20px;
      margin: $spacing-40;
      .title-form {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-big;
        line-height: $line-height-large;
        color: $font-black;
        margin-bottom: 0;
      }
      .text-email-acceso {
        font-family: $font-roboto;
        font-style: $font-size-normal;
        font-weight: 300;
        font-size: $font-size-normal;
        line-height: $line-height-23;
        color: #4a452a;
      }
      .text-footer {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-sixe-small;
        line-height: $line-height-23;
        text-align: center;
        text-decoration-line: underline;
        color: $font-black;
        p {
          margin-top: 0;
        }
      }
      input {
        &[type='email'],
        &[type='password'] {
          background: $input-backgroud;
          border-radius: $border-radius-light;
          --padding-start: 6px;
          color: $font-black;
          margin: 20px 0 0;
          height: $sizing-35;
          border: 0;
          width: 100%;
          padding: 10px 6px;
        }
      }
      .btn-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $line-height-large;
        ion-button, button {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-large;
          line-height: $line-height-light;
          text-align: center;
          color: #ffffff;
          height: $sizing-light;
          width: $sizing-180;
          margin: 15px 0;
          background: $color-red;
        }
        .form-accede-button {
          text-transform: capitalize;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-page-acceso {
    .otp-page {
      .form-acceso {
        max-width: $desktop-max-width;
        margin: 0 auto;
        .title-form {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          margin-top: 0.5em;
        }
        input {
          &[type='email'],
          &[type='password'] {
            height: $input-height;
          }
          &.text-email-acceso {
            font-size: $input-font-size;
            line-height: $input-line-height;
          }
        }
        .text-footer {
          p {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
        }
        .btn-wapper {
          margin-top: $font-size-22;
        }
        .btn-wapper {
          margin-top: 30px;
          ion-button, button {
            font-size: $desktop-button-font-size;
            line-height: $desktop-button-line-height;
            max-width: $desktop-button-width;
            max-height: $desktop-button-height;
          }
          .form-accede-button {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
