@import 'style/index.scss';

.content-staff-Crearevento {
  --background: #ffece2;
  .row1 {
    padding: 0 $sizing-62;
    .text {
      background: #ffece2;
      border: 1px solid #4a452a;
      box-sizing: border-box;
      padding: $spacing-tiny;
      margin-left: 0px;
      width: 100%;
      margin-top: $sizing-s;
      input[type='text'],
      textarea {
        background: transparent;
        border: 0;
        width: 100%;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-size-light;
        line-height: $line-height-small;
      }
    }
    select {
      width: 100%;
      border: 0px;
      cursor: pointer;
    }
  }

  .column-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: $spacing-23;
    padding: 0px;
    .text-time {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-light;
      line-height: $line-height-small;
      text-align: center;
      color: #4a452a;
    }
    .time {
      margin-top: $spacing-medium;
      border: 1px solid #4a452a;
      box-sizing: border-box;
      padding: $spacing-5 0px;
      width: $sizing-120;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: $sizing-300;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      text-align: center;
      cursor: pointer;
    }
  }
  .column-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: $spacing-23;
    padding: 0px;
    .text-time {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-light;
      line-height: $line-height-small;
      text-align: center;
      color: #4a452a;
    }
    .time {
      margin-top: $spacing-medium;
      border: 1px solid #4a452a;
      box-sizing: border-box;
      padding: $spacing-5 0px;
      width: $sizing-120;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: $sizing-300;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      text-align: center;
      cursor: pointer;
    }
  }
  .row-botton {
    margin-top: $sizing-160;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .button {
      margin-bottom: $sizing-medium;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-large;
      line-height: $line-height-light;
      text-align: center;
      color: #ffffff;
      padding: $spacing-medium;
      background: #ee5b5b;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: $border-radius-large;
      min-width: 180px;
    }
  }
}
@media (min-width: 768px) {
  .content-staff-Crearevento {
    .row1 {
      padding: 0px;
      width: $desktop-max-width;
      margin: auto;
      .text {
        margin-left: 0px;
        max-width: $desktop-max-width;
        margin: $sizing-10 auto;
        margin-bottom: 0px;
        padding: $spacing-2;
        input[type='text'],
        textarea {
          font-size: $input-font-size;
          line-height: $input-line-height;
        }
      }
      select {
        width: 100%;
        border: 0px;
      }
    }

    .row-time {
      max-width: $desktop-max-width;
      margin: $sizing-14 auto;
      margin-top: 20px;
      .column-left {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        .text-time {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .time {
          margin: 7px;
          padding: 0px;
          width: 80%;
          padding: 0px $spacing-11;
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          height: $spacing-11;
        }
      }
      .column-right {
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        .text-time {
          font-size: $input-font-size;
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .time {
          margin: 7px;
          padding: 0px;
          width: 80%;
          padding: 0px $spacing-11;
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          height: $spacing-11;
        }
      }
    }
    .row-botton {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .button {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: $desktop-button-height;
        max-width: $desktop-button-width;
        margin-bottom: $sizing-medium;
        font-size: $desktop-button-font-size;
        line-height: $desktop-button-line-height;
        border-radius: $border-radius-large;
      }
    }
  }
}
