@import 'style/index.scss';

.mensajes-create-wrapper {
  --background: #ffece2;
  .vistagroup {
    .icon-back {
      margin-top: 15px;
    }
    .text-title {
      font-family: $font-atma;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-huge;
      line-height: $line-height-giant;
      text-align: center;
      color: $font-black;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .item-check {
      display: flex;
      align-items: center;
      align-content: center;
      margin-left: 36px;
      margin-bottom: 20px;
    }
    .text-selec {
      cursor: text;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      text-align: center;
      margin-left: 5px;
    }
    .wapper-item {
      margin: 10px 20px;
      .text-item {
        cursor: text;
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-large;
        line-height: $line-height-big;
        text-align: center;
        color: $text-color;
        margin: 0;
      }
      .wapper-img {
        background: $font-black;
        border-radius: $border-radius-giant;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
        position: relative;
        .selected {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: rgba(196, 196, 196, 0.7);
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .mensajes-create-wrapper {
    .vistagroup {
      width: $desktop-max-width-900;
      margin: auto;
      .icon-back {
      }
      .text-title {
      }
      .item-check {
      }
      .text-selec {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
      }
      .wapper-item {
        .text-item {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
        .wapper-img {
          width: 60px;
          height: 60px;
          display: flex;
          .img-icon {
          }
          .selected {
          }
        }
      }
    }
  }
}
