@import 'style/index.scss';

.main-content-welcome {
  background: $background-color;
  height: $sizing-huge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
  }
  ion-text {
    font-family: $font-atma;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-huge;
    line-height: $line-height-giant;
    text-align: center;
    color: $text-color;
  }
  ion-img {
    height: 50px;
    margin-left: 20px;
  }
  .text-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .main-content-welcome {
    ion-text {
      font-size: $desktop-title-font-size;
      line-height: $desktop-title-line-height;
    }
  }
}
