@import "style/index.scss";

.change-pin-container {
  --background: #ffece2;
  .otp-page {
    .from-otp-confirm {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: $spacing-75;
      padding-right: $spacing-75;
      display: flex;
      justify-content: space-between;
      input {
        width: $font-size-26;
        height: $font-size-26;
        border-radius: $border-radius-giant;
        background: $color-grey;
        text-align: center;
        float: right;
        border: 0;
        text-indent: -99999999px;
        &.active {
          background: $color-primary;
        }
      }
      &:last-child {
        margin-top: 30px;
      }
    }
    .from-margin {
      margin-top: 45px;
    }
    .text-footer {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-light;
      line-height: $line-height-small;
      color: $font-black;
    }
    .title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-big;
      line-height: $line-height-large;
      text-align: center;
      color: $font-black;
      margin-top: 13px;
      margin-bottom: 0px;
    }
    .text-sub {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-large;
      line-height: $line-height-light;
      color: $text-color;
      margin-bottom: 21px;
      margin-top: 21px;
    }
  }
}

@media(min-width: 768px) {
  .change-pin-container {
    --background: #ffece2;
    .otp-page {
      .from-otp-confirm {
        padding: 0;
        max-width: $desktop-max-width;
        margin: 0 auto;
        width: 100%;
        input {
          width: 26px;
          height: 26px;
          &.active {
            background: $color-primary;
          }
        }
      }
      .title {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
        text-align: center;
      }
      .text-sub {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
        text-align: center;
      }
    }
  }
}