@import 'style/index.scss';

.vistagroup-wrapper {
  --background: #c3f998;
  .vistagroup {
    .icon-back {
      margin-top: $sizing-14;
    }
    .text-title {
      font-family: $font-atma;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-huge;
      line-height: $line-height-giant;
      text-align: center;
      color: $font-black;
      margin-top: 0;
      margin-bottom: $spacing-popup-h;
    }
    .item-check {
      display: flex;
      align-items: center;
      align-content: center;
      margin-left: $sizing-35;
      margin-bottom: $spacing-m;
    }
    .text-selec {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      text-align: center;
      margin-left: $spacing-5;
    }
    .wapper-item {
      margin: $spacing-medium $spacing-m;
      .text-item {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-sixe-small;
        line-height: $line-height-small;
        text-align: center;
        color: $text-color;
        margin: 0;
      }
      .wapper-img {
        background: $font-black;
        border-radius: $border-radius-giant;
        width: $sizing-60;
        height: $sizing-60;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
      }
    }
  }
}
@media (min-width: 768px) {
  .vistagroup-wrapper {
    .vistagroup {
      .icon-back {
      }
      .text-title {
        font-size: 900;
        line-height: $line-height-giant;
      }
      .item-check {
        margin-left: $sizing-35;
        margin-bottom: $spacing-m;
      }
      .text-selec {
        font-size: $font-sixe-small;
        line-height: $line-height-tiny;
        margin-left: 200px;
      }
      .wapper-item {
        margin: $spacing-medium $spacing-m;
        .text-item {
          font-size: $font-size-large;
          line-height: $line-height-big;
          margin: 0;
        }
        .wapper-img {
          border-radius: $border-radius-giant;
          width: $sizing-60;
          height: $sizing-60;
          display: flex;
        }
      }
    }
  }
}
