@import 'style/index.scss';

.checkin-wrapper {
  --background: #ffece2;
  .all {
    .vistagroup {
      .icon-back {
        margin-top: 15px;
      }
      .text-title {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-huge;
        line-height: $line-height-giant;
        text-align: center;
        color: $font-black;
        margin-top: 0;
        margin-bottom: 30px;
      }
      .item-check {
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: 36px;
        margin-bottom: 20px;
      }
      .text-selec {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: normal;
        font-size: $font-sixe-small;
        line-height: $line-height-tiny;
        text-align: center;
        margin-left: 5px;
      }
      .wapper-item {
        margin: 10px 20px;
        .text-item {
          font-family: $font-atma;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-large;
          line-height: $line-height-big;
          text-align: center;
          color: $text-color;
          margin: 0 0 15px;
        }
        .wapper-img {
          background: $font-black;
          border-radius: $border-radius-giant;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin: auto;
          position: relative;
          .avatar {
            width: 60px;
            height: 60px;
            border-radius: 100%;
          }
          .selected {
            background: rgba(196, 196, 196, 0.7);
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .checked-in,
          .checked-out,
          .absence {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .checkin-wrapper {
    .all {
      width: 100%;
      max-width: 900px;
      margin: auto;
      .vistagroup {
        .text-selec {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .wapper-item {
          .text-item {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
          .wapper-img {
          }
        }
      }
    }
  }
  .all-footer {
    background: #ffece2;
    .checkin-footer {
      width: 100%;
      max-width: 900px;
      margin: auto;
    }
  }
}
