@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .content {
    .mes1 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: $spacing-m;
      .mes1-content {
        color: white;
        width: 70%;
        background: #00d7a3;
        border-radius: 42px 4px 4px 42px;
        padding: $spacing-14;
      }
    }
    .mes2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: $spacing-m;
      .mes2-content {
        color: white;
        width: 70%;
        border-radius: 4px 42px 42px 4px;
        background: #ee5b5b;
        padding: $spacing-14;
      }
    }
    .message-wrapper {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      box-shadow: 0px -6px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: row;
      z-index: 999;

      .message-input {
   
        background: #ffece2;
        width: 100%;
        border: 0px;
        padding: $spacing-23;
      }
      .message-button {
          background: #ffece2;
      }
    }
  }
}
@media(min-width: 767px) {
  ion-content {
    .content {
      .mes1 {
        margin-top: 20px;
        .mes1-content {
          padding: 20px;
        }
      }
      .mes2 {
        margin-top: 20px;
        .mes2-content {
          padding: 20px;
        }
      }
      .message-wrapper {
        margin: 0 auto;
        max-width: 900px;
        .message-input {
          padding: 30px;
        }
      }
    }
  }
}