@import 'style/index.scss';

.staff-lannister {
  .all-lannister {
    --background: #ffece2;
    .row1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #4a452a;
      .text-row1 {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 39px;
        text-align: center;
        width: 45%;
      }
      .icon-row1 {
        margin-right: 8px;
        margin-left: 8px;
        cursor:pointer;
      }
    }
    .row2 {
      justify-content: center;
      margin-top: 9px;
      .text-row2 {
        color: white;
        background: #00d7a3;
        width: 133px;
        padding-right: 18px;
        padding-left: 18px;
        text-align: center;
        border-radius: 20px;
      }
    }
    .row3 {
      color: #4a452a;
      background: #e2e4e4;
      margin-top: 16px;
      padding: 5px;

      .row3-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-right: 24px;
        padding-left: 4px;
        position: relative;
        .icon-wrapper {
          position: relative;
          .icon-row3 {
            width: 15px;
          }
          .dot-action {
            position: absolute;
            background: #ffece2;
            right: 7px;
            top: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 17px 45px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
        .popup-wrapper {
          cursor: pointer;
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: 10;
          .popup-action {
            position: absolute;
            top: 15px;
            right: 20px;
            z-index: 10;
            /* background: #000; */
            display: flex;
            flex-direction: column;
            width: 140px;
            height: 90px;
            background: #ffece2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 40px;
            text-align: center;
          }
        }
      }
      .row3-2 {
        width: 100%;
        padding-right: 4px;
        padding-left: 4px;
      }
      .row3-3 {
        padding: 0px;
        width: 100%;
        padding-right: 4px;
        padding-left: 4px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        .text-nota {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: 200;
          font-size: 18px;
          line-height: 21px;
          flex: 1;
        }
      }
      .text-row3 {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
        margin-right: 7px;
      }
      .textin-row3 {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .icon-group {
      justify-content: center;
      margin-top: 42.5px;
    }
  }
}
@media (min-width: 768px) {
  .staff-lannister {
    .all-lannister {
      max-width: $desktop-max-width-900;
      margin: auto;
      .row1 {
        margin-top:15px;
        .text-row1 {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          width: 55%;
        }
        .icon-row1 {
        }
      }
      .row2 {
        .text-row2 {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          width: fit-content;
        }
      }
      .row3 {
        .row3-1 {
          .icon-wrapper {
            .icon-row3 {
            }
            .dot-action {
            }
          }
          .popup-wrapper {
            .popup-action {
            }
          }
        }

        .row3-2 {
        }
        .row3-3 {
          .text-nota {
          }
        }
        .text-row3 {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .textin-row3 {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
      }
      .icon-group {
      }
    }
  }
}
