@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .diario-main-content {
    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: $spacing-popup-h;
      .text-content {
        font-weight: 600;
        line-height: $line-height-big;
        font-family: $font-atma;
        font-style: normal;
        font-size: $font-size-large;
        color: #4a452a;
      }
      .image-header-content {
        width: $sizing-40;
        height: $sizing-40;
        transform: rotate;
      }
    }
    .image-content {
      padding:0px;
      width: 100%;
      h1 {
        margin-top: 4px;
        margin-bottom: $spacing-11;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #4a452a;
        text-align:center;
      }
    }
    #text {
      text-align: center;
      img {
        height: 70px;
        margin: 0 auto;
      }
    }
  }
}

@media(min-width: 768px) {
  ion-content {
    .diario-main-content {
      .content {
        .text-content {
          font-style: normal;
          font-size: $desktop-title-font-size;
          line-height: 35px;
          color: #4a452a;
        }
        .image-header-content {
          width: 40px;
          height: 40px;
        }
      }
      .image-content {
        padding: 0px;
      }
      #text {
        img {
          height: 150px;
        }
      }
    }
  }
}