@import 'style/index.scss';

.header-ios ion-toolbar:last-child {
  --border-width: 0px;
}

.main-content-tutores {
  --background: #ffece2;

  .wapper-item {
    ion-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding-top: $spacing-m;
      padding-bottom: $spacing-medium;
      border-bottom: 1px solid #000000;
      padding-left: $spacing-23;
      padding-right: $spacing-23;
      color: #4a452a;
      .left-content {
        display: inline-flex;
        align-items: center;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-big;
        line-height: $line-height-large;
        ion-img {
          width: $sizing-56;
          height: $sizing-56;
          margin-right: $spacing-23;
        }
      }
      .right-content {
        ion-img {
          width: $sizing-tiny;
          height: $sizing-tiny;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .main-content-tutores {
    .wapper-item {
      margin-top: $spacing-5;
      max-width: 900px;
      margin: auto;
      ion-col {
        padding-top: $spacing-2;
        padding-bottom: $spacing-3;
        padding-left: 0px;
        padding-right: 0px;
        .left-content {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          ion-img {
            width: $spacing-m;
            height: $spacing-m;
            margin-right: $spacing-5;
          }
        }
        .right-content {
          ion-img {
            width: $spacing-tiny;
          }
        }
      }
    }
  }
  .ion-text-center-Tutores {
    .add-new-tutores {
      width: 62px;
      height: 62px;
    }
  }
}
