$theme-colors: (
  'primary': #ee5b5b,
  'secondary': #ffe4d6
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1380px
) !default;

@import '~bootstrap/scss/bootstrap.scss';

img {
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

a {
  color: #000;
}

.form-control {
  border-radius: 2px;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: white;
      margin: 0px 25px;
    }
  }
}

h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #0e103c;
  margin: 0px;
}
h2 {
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  color: #0e103c;
  margin: 0px;
}

h3,
.h3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #0e103c;
}

h5 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #0e103c;
}
h6 {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;
  color: #0e103c;
  margin: 0px;
}
