@import 'style/index.scss';

.header-ios ion-toolbar:last-child {
  --border-width: 0px;
}

.main-content-message {
  --background: #ffece2;
  .wapper-item {
    .message-wrapper {
      border-top: $border-radius-little solid #4a452a;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: $spacing-tiny;
      padding-bottom: $spacing-tiny;
      .tab-icon {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $spacing-5;
        border-radius: 0px 12px;
        transform: rotate(3deg);
        min-width: $sizing-big;
        height: $sizing-62;
        margin-left: 0;
        margin-bottom: 0;
      }
      .tab-content {
        color: #4a452a;
        display: flex;
        flex-direction: column;
        flex: 1;
        .title {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-normal;
          line-height: $line-height-23;
          margin: 0 0 9px;
          span {
            font-size: $font-size-light;
            line-height: $line-height-small;
          }
        }
        p {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: 300;
          font-size: $font-size-light;
          line-height: $line-height-small;
          margin: 0;
        }
      }
    }
  }
  
}
.director-add-new-message {
  
  .ion-text-center {
    color: #4a452a;
  }
  .row {
    display: flex;
    flex-direction: row;
    .column-add-new-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .tab-icon {
        border-radius: 0px 12px;
        transform: rotate(3deg);
        width: $sizing-113;
        height: $sizing-83;
        margin-left: 0;
        margin-bottom: 0;
        .tab-text {
          font-family: 'Atma', cursive;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-normal;
          color: #4a452a;
          text-align: center;
        }
      }
    }
  }
}
.footer-add-message {
  .btn-wapper {
    margin: 0px;
  }
}
.add-new-message {
  background: $background-color;
  ion-img {
    width: $sizing-62;
    height: $sizing-62;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-content-message {
    margin-top: $sizing-25;
    max-width: $desktop-max-width-900;
    margin: auto;
    .wapper-item {
      margin-top: 0px;
      .message-wrapper {
        padding: 15px 13px;
        .tab-icon {
          border-radius: 0px 12px;
          transform: rotate(3deg);
          width: 168px;
          height: 109px;
          margin-left: 0;
          margin-bottom: 0;
          .tab-text {
            font-family: 'Atma', cursive;
            font-style: normal;
            font-weight: 600;
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
            color: #4a452a;
          }
        }
        .tab-content {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .title {
            span {
              font-size: $desktop-para-font-size;
              line-height: $desktop-para-line-height;
            }
          }
          p {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
        }
      }
    }
  }
  .add-new-message {
    background: $background-color;
    ion-img {
      width: $desktop-footer-img-width;
      height: auto;
      margin: 0 auto;
    }
    .title {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 7.72947vw;
      line-height: 8.9372vw;
      text-align: center;
    }
  }
  .director-add-new-message {
    .ion-text-center {
      color: #4a452a;
    }
    .row {
      display: flex;
      flex-direction: row;
      .column-add-new-message {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .tab-icon {
          border-radius: 0px 12px;
          transform: rotate(3deg);
          width: 168px;
          height: 109px;
          margin-left: 0;
          margin-bottom: 0;
          .tab-text {
            font-family: 'Atma', cursive;
            font-style: normal;
            font-weight: 600;
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-font-size;
            color: #4a452a;
            text-align: center;
          }
        }
      }
    }
  }
  .main-content-add-child {
    .back-message {
      position: absolute;
      left: 18px;
      top: 14px;
      z-index: 9;
      padding: 0;
      background: transparent;
      img {
        width: 100%;
      }
    }
    
  }
}
.title-message {
  color: #4A452A;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
  color: #4A452A;
}
@media(min-width: 768px) {
  .title-message {
    color: #4A452A;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #4A452A;
  }
}