@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .main-content-staff-activities {
    .title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-huge;
      line-height: $line-height-huge;
      text-align: center;
      margin-top: $spacing-14;
      margin-bottom: $spacing-t;
      display: block;
    }
    .logo {
      .img-logo {
        ion-img {
          height: 45px;
          float: left;
        }
      }
      .text-logo {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-huge;
        line-height: $line-height-giant;
      }
      p {
        margin: 0;
      }
    }
    .title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-huge;
      line-height: $line-height-huge;
      text-align: center;
      color: $font-black;
    }
    .ion-text-center {
      display: block;
    }
    .margin-left {
      margin: 0 45px !important;
    }
    .box-wapper {
      display: flex;
      justify-content: space-evenly;
      margin: 20px 0;
      .box {
        width: 100px;
        height: 100px;
        background: #f3afaf;
        border-radius: $border-radius-large;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ion-img {
          height: 50px;
          width: 50px;
          margin-bottom: 15px;
        }
        .text-box {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: $font-black;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  ion-content {
    .main-content-staff-activities {
      .ion-text-center {
        .title {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          margin-top: $spacing-14;
          margin-bottom: 30px;
        }
      }
      
      .all {
        width:100%;
        max-width: $desktop-max-width;
        margin: auto;
        .box-wapper {
          margin: 20px 0;
          .box {
            width: 120px;
            height: 120px;
            background: #f3afaf;
            ion-img {
              height: 50px;
              width: 50px;
              margin-bottom: 15px;
            }
            .text-box {
              font-size: $desktop-para-font-size;
              line-height: $desktop-para-line-height;
            }
          }
        }
      }
    }
  }
}
