@import 'style/index.scss';

.bebiro-container {
  --background: #ffece2;
  .main-content {
    .user-select {
      display: flex;
      flex-direction: row;
      padding: 0px 35px;
      .icon-sofia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-bottom: 15px;
        ion-text {
          margin-top: 10px;
          font-family: $font-atma;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-light;
          line-height: $line-height-normal;
          color: $text-color;
          margin-left: 0px;
        }
        .wapper-img {
          background: $font-black;
          border-radius: $border-radius-giant;
          width: 45px;
          height: 46px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-left: 0px;
        }
        .wapper-avatar {
          width: 45px;
          height: 46px;
          border-radius: 50%;
        }
      }
    }
    .select-user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      .wapper-img {
        margin-right: 30px;
      }
    }
    .btn-options {
      ion-button {
        width: 100%;
        margin: 0px;
      }
    }
    .select-medicina {
      margin-top: 28px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      ion-text {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-light;
        line-height: $line-height-small;
        text-align: center;
        color: $font-black;
      }
      ion-input {
        width: 100px;
        border-bottom: 1px solid #000;
        text-align: center;
        margin: 0 auto;
      }
    }

    .text-comidas {
      margin-top: 20px;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      textarea {
        background: $background-color;
        margin-bottom: 24px;
        width: 100%;
        border: 1px solid #4A452A;
        height: 105px;
      }
    }
  }
  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button {
      width: 188px;
      height: 56px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-large;
      line-height: $line-height-light;
      text-align: center;
      --background: #ee5b5b;
      --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      --border-radius: 6px;
      --background-activated: #f34e4e;
    }
  }
}

@media(min-width: 768px) {
  .bebiro-container {
    .main-content {
      .select-medicina {
        ion-text {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
      }
      .user-select {
        margin-top: $spacing-3;
        .icon-sofia {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
          ion-text {
            margin: 0px;
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
          .wapper-img {
            width: 40px;
            height: 40px;
            margin: auto;
          }
        }
      }
      .btn-submit {
        ion-button {
          width: $desktop-button-width;
          height: $desktop-button-height;
          font-size: $desktop-button-font-size;
          line-height: $desktop-button-line-height;
        }
      }
    }
  }
}