@import 'style/index.scss';

.logros-container {
  --background: #ffece2;
  .main-content {
    .user-select {
      display: flex;
      flex-direction: row;
      padding: 0px 35px;
      .icon-sofia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-bottom: 15px;
        ion-text {
          margin-top: 10px;
          font-family: $font-atma;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-light;
          line-height: $line-height-normal;
          color: $text-color;
          margin-left: 0px;
        }
        .wapper-img {
          background: $font-black;
          border-radius: $border-radius-giant;
          width: 45px;
          height: 46px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-left: 0px;
        }
        .wapper-avatar {
          width: 45px;
          height: 46px;
          border-radius: 50%;
        }
      }
    }
    .select-user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      .wapper-img {
        margin-right: 30px;
      }
    }
    .form-person {
      width: $sizing-giant;
      margin: 0 25px;
      .tipo {
        border: 1px solid #4a452a;
        background: url(/images/bottom.png) right 10px center no-repeat;
        height: 35px;
        display: flex;
        padding: 0px 15px;
        align-items: center;
      }
      .margin-bottom {
        margin-bottom: 10px;
      }
      .margin-top {
        margin-top: 10px;
      }
      ion-input {
        border: 1px solid #4a452a;
        box-sizing: border-box;
        height: 35px;
        --padding-start: 8px;
      }
      .textarea {
        ion-textarea {
          border: 1px solid #4a452a;
          box-sizing: border-box;
          margin-top: 15px;
          --padding-start: 8px;
          height: 100px;
        }
      }
    }
    .preview-image {
      visibility: initial;
      height: 220px;
      display: block;
      margin: 0 auto;
    }
  }
  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    ion-button {
      width: 188px;
      height: 56px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-large;
      line-height: $line-height-light;
      text-align: center;
      --background: #ee5b5b;
      --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      --border-radius: 6px;
      --background-activated: #f34e4e;
    }
  }
  .select-logros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $sizing-300;
    margin-bottom: 24px;
    ion-img {
      width: $sizing-25;
      height: $sizing-25;
      margin-right: 11px;
    }
    span {
      padding: 5px 13px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      background: rgba(196, 196, 196, 0.4);
      margin-right: 11px;
      height: $sizing-s;
      display: block;
      position: relative;
      img {
        width: $spacing-tiny;
        height: $spacing-tiny;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        z-index: 5;
      }
    }
  }
}
@media (min-width: 768px) {
  .logros-container {
    .main-content {
      .user-select {
        margin-top: $spacing-3;
        .icon-sofia {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
          ion-text {
            margin: 0px;
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
          .wapper-img {
            width: 40px;
            height: 40px;
            margin: auto;
          }
        }
      }
      .btn-submit {
        ion-button {
          width: $desktop-button-width;
          height: $desktop-button-height;
          font-size: $desktop-button-font-size;
          line-height: $desktop-button-line-height;
        }
      }
    }
    .select-logros {
      width: 100%;
      height: 100px;
      ion-img {
        width: 30px;
        height: 30px;
        margin-right: 11px;
      }
      span {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
        margin-right: 15px;
        height: 30px;
        padding: 3px 20px;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
