@import 'style/index.scss';

.medicines-container {
  --background: #ffece2;
  .main-content {
    .header {
      display: flex;
      justify-content: center;
      .icon-back {
        height: 20px;
        margin-right: 10px;
        margin-top: 10px;
        position: absolute;
        right: 0;
      }
      .icon-logo {
        width: 50px;
      }
    }
    .user-select {
      display: flex;
      flex-direction: row;
      padding: 0px 35px;
      .icon-sofia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-bottom: 15px;
        ion-text {
          margin-top: 10px;
          font-family: $font-atma;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-light;
          line-height: $line-height-normal;
          color: $text-color;
          margin-left: 0px;
        }
        .wapper-img {
          background: $font-black;
          border-radius: $border-radius-giant;
          width: 45px;
          height: 46px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-left: 0px;
        }
        .wapper-avatar {
          width: 45px;
          height: 46px;
          border-radius: 50%;
        }
      }
    }
    .select-user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      .wapper-img {
        margin-right: 30px;
      }
    }

    .form-person {
      input {
        background: #ffece2;
        width: 100%;
      }
      width: $sizing-giant;
      margin: 0 25px;
      .margin-bottom {
        margin-bottom: 10px;
      }
      .margin-top {
        margin-top: 10px;
      }
      ion-input {
        border: 1px solid #4a452a;
        box-sizing: border-box;
        height: 35px;
        --padding-start: 8px;
      }
      textarea {
        background: #ffece2;
        border: 1px solid #4a452a;
        box-sizing: border-box;
        margin-top: 15px;
        height: 100px;
        width: 100%;
        --padding-start: 8px;
        margin-bottom: 40px;
      }
    }
  }
  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button {
      width: 188px;
      height: 56px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-large;
      line-height: $line-height-light;
      text-align: center;
      --background: #ee5b5b;
      --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      --border-radius: 6px;
      --background-activated: #f34e4e;
    }
  }
}

@media (min-width: 768px) {
  .medicines-container {
    --background: #ffece2;
    .main-content {
      .user-select {
        margin-top: $spacing-3;
        .icon-sofia {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
          ion-text {
            margin: 0px;
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
          .wapper-img {
            width: 40px;
            height: 40px;
            margin: auto;
          }
        }
      }
      .btn-submit {
        ion-button {
          width: $desktop-button-width;
          height: $desktop-button-height;
          font-size: $desktop-button-font-size;
          line-height: $desktop-button-line-height;
        }
      }
    }
  }
}