@import 'style/index.scss';

.media-container {
  --background: #ffece2;
  .media-content {
    position: relative;
    height: 100%;
    padding: 50px 20px;
    text-align: center;
    .overflay {
      background: rgba(196, 196, 196, 0.56);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .message-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px -6px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    z-index: 999;

    .message-input {
      background: #ffece2;
      width: 100%;
      border: 0px;
      padding: $spacing-23;
    }
    .message-button {
      background: #ffece2;
    }
  }
}

@media(min-width: 768px) {
  .media-container {
    .message-wrapper {
      .message-input {
        padding: 30px;
      }
    }
  }
}