@import 'style/index.scss';

.select-student {
  --background: #ffece2;
  .vistagroup {
    .icon-back {
      margin-top: 15px;
    }
    .text-title {
      font-family: $font-atma;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-huge;
      line-height: $line-height-giant;
      text-align: center;
      color: $font-black;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .item-check {
      display: flex;
      align-items: center;
      align-content: center;
      margin-left: 36px;
      margin-bottom: 20px;
    }
    .text-selec {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-sixe-small;
      line-height: $line-height-tiny;
      text-align: center;
      margin-left: 5px;
    }
    .wapper-item {
      margin: 10px 20px;
      .text-item {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-large;
        line-height: $line-height-big;
        text-align: center;
        color: $text-color;
        margin: 0;
      }
      .wapper-img {
        background: $font-black;
        border-radius: $border-radius-giant;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
        position: relative;
        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 100%;
        }
        .selected {
          background: rgba(196, 196, 196, 0.7);
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .checked-in, .checked-out, .absence {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .wapper-avatar {
        width: 45px;
        height: 46px;
        border-radius: 50%;
      }
    }
  }
}

@media(min-width: 768px) {
  .select-student {
    .vistagroup {
      .wapper-item {
        .text-item {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
      }
    }
  }
}