@import 'style/index.scss';

.siesta-container {
  .main-content {
    .all {
      .row1-siesta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        
        text-align: center;
        color: #4a452a;
        margin-top: 15px;
        padding: 0 30px;
        h3 {
          font-size: $font-size-light;
        line-height: $line-height-small;
          &.active {
            border-bottom: $border-radius-little solid #000000;
          }
        }
      }
      .time {
        margin: 0px;
        .row2-siesta {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .time-siesta {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .time-wapper {
            margin-right: 30px;
            &.hide {
              opacity: 0;
            }
          }
        }
      }
      .row3-siesta {
        .column1 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          ion-img {
            width: 30%;
          }
          .siesta-img {
            width: 30%;
            border-radius: 50%;
          }
          .text {
            margin-left: 4px;
            flex-direction: column;
            justify-content: center;
            color: #4a452a;
            font-family: Atma;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .column2 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
          ion-text {
            background: #ee5b5b;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            font-family: $font-roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #ffffff;
            padding: $border-radius-large $border-radius-large;
            justify-content: center;
            display: flex;
            align-items: center;
          }
        }
        .column3 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
          ion-text {
            background: #00d7a3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            font-family: $font-roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */
            text-align: center;
            color: #ffffff;
            padding: $border-radius-large $border-radius-large;
            justify-content: center;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .siesta-container {
    .main-content {
      .all {
        &.all-900 {
          max-width: $desktop-max-width-900;
        }
        .row1-siesta {
          .Usar {
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
            margin: 0px;
          }
          .Seleccionar {
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
            margin: 0px;
          }
          h3 {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
        }

        .time {
          .row2-siesta {
          }
          .time-siesta {
            margin-top: 0px;
            .time-wapper {
            }
          }
        }
        .row3-siesta {
          .column1 {
            ion-img {
              height: 90px;
              width: 90px;
            }
            .text {
              font-size: $desktop-title-font-size;
              line-height: $desktop-title-line-height;
              margin-left: $spacing-tiny;
            }
          }

          .column2 {
            ion-img {
              width: 60px;
            }
            ion-text {
              font-size: $desktop-button-font-size;
              line-height: $desktop-button-line-height;
              width: 167px;
              height: 42px;
            }
          }
          .column3 {
            ion-text {
              font-size: $desktop-button-font-size;
              line-height: $desktop-button-line-height;
              width: 167px;
              height: 42px;
            }
          }
        }
      }
    }
  }
}
