@import 'style/index.scss';

.confirm-pin-container {
  --background: #ffece2;
  .otp-page {
    .from-otp-confirm {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: $spacing-75;
      padding-right: $spacing-75;
      display: flex;
      justify-content: space-between;
      input {
        width: $font-size-26;
        height: $font-size-26;
        border-radius: $border-radius-giant;
        background: $color-grey;
        text-align: center;
        float: right;
        border: 0;
        text-indent: -999999999px;
        &.active {
          background: $color-primary;
        }
      }
    }
    .from-margin {
      margin-top: 45px;
    }
    .text-footer {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-light;
      line-height: $line-height-small;
      color: $font-black;
    }
    .title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-big;
      line-height: $line-height-large;
      text-align: center;
      color: $font-black;
      margin-top: 13px;
      margin-bottom: 0px;
    }
    .text-sub-confirm {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      line-height: $line-height-light;
      color: $text-color;
      margin-bottom: 21px;
      margin-top: 21px;
      padding-left: $spacing-23;
      padding-right: $spacing-23;
    }
    .text-sub {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      line-height: $line-height-light;
      color: $text-color;
      margin-bottom: 21px;
      margin-top: 21px;
      padding-left: $spacing-75;
      padding-right: $spacing-75;
    }
  }
}

@media(min-width:768px) {
  .confirm-pin-container {
    --background: #ffece2;
    
    .otp-page {
      max-width: $desktop-max-width-900;
      margin: 0 auto;
      .from-otp-confirm {
        input {
          width: 26px;
          height: 26px;
        }
      }
      .title {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
      }
      .text-sub-confirm {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        justify-content: center;
      }
      .text-sub {
        font-size: $desktop-para-font-size;
        line-height: $desktop-para-line-height;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}