@import 'style/index.scss';

.content-staff-Crearevento {
  --background: #ffece2;
  .text {
    background: #ffece2;
    border: 1px solid #4a452a;
    box-sizing: border-box;
    width: 70%;
    margin-left: 62px;
    padding: 8px;
    margin-top: 30px;
    input[type='text'],
    textarea {
      background: transparent;
      border: 0;
      width: 100%;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-light;
      line-height: $line-height-small;
    }
    .Hello {
      color: yellow;
    }
    .time {
      position: absolute;
      width: 377px;
      height: 560px;
    }
    select {
      width: 100%;
      border: 0px;
    }
  }
  .row-time {
    .column-left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      margin-top: 23px;
      .text-time {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #4a452a;
      }
      .time {
        margin-top: 10px;
        border: 1px solid #4a452a;
        box-sizing: border-box;
        padding: 5px;
        width: 120px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
    .column-right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      margin-top: 23px;
      .text-time {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #4a452a;
      }
      .time {
        margin-top: 10px;
        border: 1px solid #4a452a;
        box-sizing: border-box;
        padding: 5px;
        width: 120px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
  }

  .row-botton {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .button {
      margin-bottom: 33px;
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      background: #ee5b5b;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      min-width: 180px;
    }
  }
}
