@import 'style/index.scss';

.header-ios ion-toolbar:last-child {
  --border-width: 0px;
}

.director-classes {
  --background: #ffece2;

  .wapper-item {
    margin-top: $sizing-normal;
  }
  .tab-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 12px;
    transform: rotate(3deg);
    width: $sizing-113;
    height: $sizing-83;
    margin: 0 auto 15px;
    .tab-text {
      font-family: $font-atma;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-normal;
      text-align: center;
      color: #4a452a;
    }
  }
  .icon-add {
    border: 3px solid #ee5b5b !important;
    box-sizing: border-box;
    border-radius: 0px $border-radius-medium;
    transform: rotate(3deg);
    width: $sizing-113;
    height: $sizing-83;
  }

  .backdrop {
    position: absolute;
    bottom: 0;
    width: $sizing-giant;
    z-index: 9999;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    .popup {
      left: auto;
      right: auto;
      bottom: auto;
      background: #ffece2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .title {
        margin: $font-size-tiny 0;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-large;
        line-height: $line-height-light;
        text-align: center;
        color: $font-black;
      }
      input[type='text'] {
        border-bottom: 1px solid #4a452a !important;
        width: 100%;
        background: transparent;
        border: 0;
        margin-top: $spacing-m;
        text-align: center;
      }
    }
    .form-add {
      margin: 0 10px;
      .btn {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        margin-top: 20%;
        margin-bottom: 10px;
      }
      .text-btn {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: $font-size-light;
        line-height: $line-height-small;
        color: $text-color;
        cursor: pointer;
      }
      .text-right {
        margin-right: 15%;
      }
      .text-err {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-giant;
        line-height: $line-height-light;
        text-align: center;
        color: #ff0000;
        margin-top: 5%;
      }
    }
    .border-bottom {
      border-bottom: 1px solid #4a452a;
      box-sizing: border-box;
      --padding-start: 8px;
    }
  }
}
@media (min-width: 768px) {
  .director-classes {
    --background: #ffece2;
    .main-content {
      max-width: $desktop-max-width-900;
      margin: auto;
      .wapper-item {
        margin-top: $sizing-10;
      }
    }
    .tab-icon {
      width: 200px;
      height: 150px;

      .tab-text {
        font-size: $desktop-title-font-size;
      }
    }
    .icon-add {
      width: 200px;
      height: 150px;
    }

    .backdrop {
      .popup {
        .title {
          margin: 0px;
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
        }
        input[type='text'] {
          margin-top: 20px;
          font-size: $input-font-size;
          line-height: $input-line-height;
          height: $input-height;
        }
      }
      .form-add {
        margin: 0 10px;
        .btn {
          display: flex;
          justify-content: flex-end;
          align-content: center;
          margin-top: 20%;
        }
        .text-btn {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
        .text-right {
          margin-right: 15%;
        }
        .text-err {
          font-family: 'Roboto Condensed', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-giant;
          line-height: $line-height-light;
          text-align: center;
          color: #ff0000;
          margin-top: 5%;
        }
      }
      .border-bottom {
        border-bottom: 1px solid #4a452a;
        box-sizing: border-box;
        --padding-start: 8px;
      }
    }
  }
}
