@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .container {
    padding: 0;
    .banner-img-perfil {
      height: 276px;
      background-image: url('/images/icon/banner.svg');
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      .wapper-avatar {
        width: 160px;
        height: 160px;
        border-radius: $border-radius-giant;
        background: rgba(74, 69, 42, 0.3);
        ion-img {
          position: relative;
          top: 40px;
          height: 80px;
        }
      }
      ion-text {
        position: absolute;
        bottom: 0;
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-huge;
        line-height: $line-height-giant;
        color: $font-black;
        p {
          margin: 0;
          cursor: text;
        }
      }
    }
    .date-now-perfil {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      .date-wapper {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 133px;
        height: 28px;
        background: #00d7a3;
        border-radius: $border-radius-huge;
        cursor: text;
      }
    }
    .all-perfil {
      .box-news {
        margin: 10px 5px;
        .text-right {
          display: block;
          ion-text {
            font-family: $font-roboto;
            font-style: normal;
            font-weight: bold;
            font-size: $font-size-light;
            line-height: $line-height-small;
          }
          .ion-text-right {
            float: right;
          }
        }
        .box-left {
          background: rgba(196, 196, 196, 0.54);
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          align-content: center;
        }
        .box-right {
          background: #e2e4e4;
          color: #4a452a;
        }
        .text-mid {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: normal;
          font-size: $font-size-giant;
          line-height: 16px;
          color: $text-color;
          cursor: text;
        }
        .text-bottom {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: 300;
          font-size: $font-size-giant;
          line-height: 16px;
          color: $font-black;
          cursor: text;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  ion-content {
    .container {
      .banner-img-perfil {
        height: 183px;
        .wapper-avatar {
          width: 100px;
          height: 100px;
          ion-img {
            top: 25px;
            height: 50px;
          }
        }
        ion-text {
          p {
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
          }
        }
      }
      .date-now-perfil {
        .date-wapper {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
        }
      }
      .all-perfil {
        max-width: 900px;
        margin: auto;
        .box-news {
          .text-right {
            ion-text {
              font-size: $desktop-title-font-size;
              line-height: $desktop-title-line-height;
            }
          }
          .text-mid {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
            height: auto;
          }
          .text-bottom {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
        }
      }
    }
  }
}