@import 'style/index.scss';

ion-content {
  --background: #ffece2;
  .main-content-avisos {
    .note-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto 20px;
      width: 100%;
      .note-text {
        color: #4a452a;
        width: $sizing-200;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-light;
        line-height: $line-height-26;
        text-align: center;
        margin-right: 10px;
        padding: 5px 15px;
        &.active {
          box-shadow: 0px 2px 4px rgb(238,91,91);
        }
      }
      .note-time {
        border: 1px solid #4a452a;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $font-sixe-small;
        line-height: $line-height-tiny;
        width: $sizing-b;
        padding: 5px;
        text-align: center;
        max-width: 150px;
        background: transparent;
        min-height: 35px;
      }
    }
    
  }
}
@media (min-width: 768px) {
  ion-content {
    .main-content-avisos {
      width: 100%;
      max-width: $desktop-max-width;
      margin: auto;
      .note-wrapper {
        margin: 0 auto 20px;
        max-width: $sizing-300;
        .note-text {
          font-size: $desktop-para-font-size;
          line-height: $desktop-title-line-height;
          width: 450px;
          padding: 0px;
          margin-right: 17px;
          max-width: 450px;
        }
        .note-time {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          width: $sizing-normal;
          &.hidden {
            opacity: 0 !important;
          }
        }
      }
      
    }
  }
}
