@import 'style/index.scss';

.header-ios ion-toolbar:last-child {
  --border-width: 0px;
}
ion-content {
  --background: #ffece2;
  .main-content {
    .title {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      line-height: $line-height-23;
      color: #ffffff;
      margin-top: $font-size-giant;
      margin-bottom: $spacing-14;
      ion-text {
        background: #324a5e;
        padding: $spacing-5;
        border-radius: $border-radius-light;
      }
    }
    .box-info {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      margin: 0px;
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: #ffece2;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        height: $sizing-79;
        width: $sizing-79;
        .text-number {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-26;
          line-height: $line-height-33;
          text-align: center;
          color: #4a452a;
        }
        .text-bottom {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-13;
          line-height: $line-height-15;
          text-align: center;
          color: #4a452a;
        }
      }
    }
    .search-box {
      display: flex;
      align-items: center;
      align-content: center;
      margin: $font-size-normal $font-size-normal;
      color: $font-black;
      .search-icon {
        font-size: $font-size-huge;
      }
    }
    .menu {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-22;
      line-height: $line-height-26;
      color: #4a452a;
      margin: $font-size-normal $font-size-tiny;
      ion-img {
        width: 10%;
        margin-right: $font-size-tiny;
      }
      .menu-item {
        display: flex;
        align-content: center;
        align-items: center;
        background: #ffece2;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
        border-radius: $border-radius-normal;
      }
    }
    .wapper-item {
      margin-top: 51px;
      .text-item {
        font-family: $font-atma;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-large;
        line-height: $line-height-big;
        text-align: center;
        color: $text-color;
        margin: 0;
      }
      .wapper-img {
        background: $font-black;
        border-radius: $border-radius-giant;
        width: $sizing-60;
        height: $sizing-60;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
      }
    }
  }

}
.control-panel-title {
  color: #fff;
}
@media (min-width: 768px) {
  ion-content {
    .main-content {
      .title {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
        ion-text {
          padding: $spacing-5;
          border-radius: $border-radius-light;
        }
      }
      .box-info {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: 32px 0;
        .box {
          height: 115px;
          width: 115px;
          .text-number {
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
          }
          .text-bottom {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
            text-align: center;
            color: #4a452a;
          }
        }
      }
      .all-menu {
        max-width: 900px;
        margin: auto;
        display: flex;
        flex-direction: column;
        .search-box {
          display: flex;
          align-items: center;
          align-content: center;
          margin: 20px 20px;
          color: $font-black;
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          .search-icon {
            font-size: $font-size-13;
          }
        }
        .menu {
          font-size: $desktop-para-font-size;
          line-height: $desktop-para-line-height;
          margin: 20px 10px;
          ion-img {
            width: 3%;
            margin-right: 10px;
          }
          .menu-item {
            display: flex;
            align-content: center;
            align-items: center;
            background: #ffece2;
            box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
          }
        }
        .wapper-item {
          margin-top: 51px;
          color:#4A452A;
          .text-item {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
            margin: 0;
          }
          .wapper-img {
            width: 60px;
            height: 60px;
            display: flex;
          }
        }
      }
    }
  }
}
