@import 'style/index.scss';

.content-staff-Mensajes {
  .all {
    --background: #ffece2;
    .centent {
      margin-top: $spacing-40;
      .row-content {
        display: flex;
        flex-direction: row;
        border-top: $border-radius-little solid #4a452a;
        .icon {
          ion-img {
            width: $sizing-60;
            height: $sizing-60;
            padding: 8px 5px;
          }
        }

        .text1 {
          display: flex;
          flex-direction: left;
          justify-content: space-between;
          color: #4a452a;
          font-family: Roboto Condensed;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-normal;
          line-height: $line-height-23;
        }
        .text2 {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-light;
          line-height: $line-height-small;
          color: #4a452a;
          margin-top: $spacing-tiny;
        }
        .text2-phu {
          font-family: $font-roboto;
          font-style: normal;
          font-size: $font-size-light;
          line-height: $line-height-small;
          color: #4a452a;
          margin-top: $spacing-tiny;
        }
      }
    }
    .fixedButton {
      position: fixed;
      z-index: 10;
      right: 15px;
      bottom: 15px;
    }
  }
}
@media (min-width: 768px) {
  .content-staff-Mensajes {
    .all {
      max-width: $desktop-max-width-900;
      margin: auto;
      .centent {
        .row-content {
          .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            ion-img {
              padding: 5px;
              width: 100px;
              height: 100px;
            }
          }
          .text1 {
            font-size: $desktop-title-font-size;
            line-height: $desktop-title-line-height;
          }
          .text2 {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
          }
          .text2-phu {
            font-size: $desktop-para-font-size;
            line-height: $desktop-para-line-height;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .main-content-add-message.staff-create-mensajes {
    .child-container {
      .child-wrapper {
        .child-element {
          font-size: $desktop-title-font-size;
          line-height: $desktop-title-line-height;
          .child-img {
            width: 60px;
            height: 60px;
            display: flex;
            img {
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
    .btn-wapper {
      margin-top: 20px;
    }
    .child-container {
      .child-wrapper {
        margin: 30px;
      }
    }
    .hr-wrapper {
      margin-bottom: 20px;
      width: 90%;
      margin: auto;
    }
    .message-area-input {
      width: 100%;
      height: 200px;
    }
    .close {
      width: 27px;
      height: auto;
      position: absolute;
      top: 14px;
      right: 18px;
      img {
        height: auto;
      }
    }
    .ion-text-center {
      .title {
        font-size: $desktop-title-font-size;
        line-height: $desktop-title-line-height;
      }
    }
  }
}
